@layout('layout.admin')
@section('content')

<div class="box cta">
<p class="has-text-centered">
  
		<span class="tag is-primary">New</span> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    <a type="button" class="button is-success" href="item/add/{{ item.id }}/child">Add Variation</a>

  </p>
</div>
<section class="item-manager">
  <div class="container">
  <div class="column is-10 is-offset-1">
      @!include('layout.alerts')

      <form method="POST" action="/item/add/{{ item.id }}" enctype="multipart/form-data">

    <!-- Main container -->

    <!-- Left side -->
        <figure class="image is-128x128 is-pulled-left">
            <img id="main-image-preview" src="/{{ item.img_url }}" alt="Description">
            <label class="file-label">
                <input class="file-input" type="file" name="item-image" onchange="mainPreview(this);">
                <span class="file-cta">
                  <span class="file-label">
                   Cover Image
                  </span>
                </span>
              </label>
        </figure>

   
    <!-- Right side -->
          <figure class="image is-128x128 is-pulled-right">
              <img id="alt-image-preview" src="/{{ item.alt_img_url }}" alt="Description">
              <label class="file-label">
                  <input class="file-input" type="file" name="item-image-alt" onchange="altPreview(this);">
                  <span class="file-cta">
                    <span class="file-label">
                     Alternate Image
                    </span>
                  </span>
                </label>
          </figure>

      <div class="field has-addons">
          <div class="control">
            <a class="button is-warning has-margin-left-15 is-left-rounded">
              Name
            </a>
          </div>
          <div class="control is-6">
            <input id="name" name="name" class="input is-right-rounded" placeholder="" type="text" value="{{ item.name }}">
          </div>
          <div class="control">
              <a class="button is-success is-left-rounded has-margin-left-15">
                Price
              </a>
            </div>
            <div class="control is-3 has-margin-right-15">
              <input id="price" name="price" class="input is-right-rounded" placeholder="" type="number" step="any" value="{{ item.price }}">
            </div>
            <div class="control">
                <a class="button is-success is-left-rounded has-margin-left-15">
                  Sku
                </a>
              </div>
              <div class="control is-3 has-margin-right-15">
                <input id="sku" name="sku" class="input is-right-rounded" placeholder="{{ item.sku }}" type="number" step="any" value="{{ item.sku }}">
              </div>

            
      </div>

      <div class="field has-addons">
          <div class="control">
            <a class="button is-info has-margin-left-15">
              Calories
            </a>
          </div>
          <div class="control">
            <input id="calories" name="calories" class="input " placeholder="" type="number" value="{{ item.calories }}">
          </div>
          <div class="control">
              <a class="button is-info has-margin-left-15">
                Fat
              </a>
            </div>
            <div class="control">
              <input id="fat" name="fat" class="input " placeholder="" type="number" value="{{ item.fats }}">
            </div>
            <div class="control">
                <a class="button is-info has-margin-left-15">
                  Carbs
                </a>
              </div>
              <div class="control">
                <input id="carbs" name="carbs" class="input " placeholder="" type="number" value="{{ item.carbs }}">
              </div>
              <div class="control">
                  <a class="button is-info has-margin-left-15">
                    Protein
                  </a>
                </div>
                <div class="control has-margin-right-15">
                  <input id="protein" name="protein" class="input " placeholder="" type="number" value="{{ item.protein }}">
                </div>
      </div>
                <div class="field has-addons">
                    <div class="control">
                        <a class="button is-info has-margin-left-15">
                          Sodium
                        </a>
                      </div>
                      <div class="control">
                        <input id="sodium" name="sodium" class="input " placeholder="" type="number" value="{{ item.sodium }}">
                      </div>
                      <div class="control">
                          <a class="button is-info has-margin-left-15">
                            Sugar
                          </a>
                        </div>
                        <div class="control">
                          <input id="sugar" name="sugar" class="input " placeholder="" type="number" value="{{ item.sugar }}">
                        </div>
                        <div class="control">
                            <a class="button is-danger has-margin-left-15">
                              Limit
                            </a>
                          </div>
                          <div class="control has-margin-right-15">
                            <input id="eightySixCount" name="eightySixCount" class="input " placeholder="none" type="number" value="{{ item.eightySixCount }}">
                          </div>
                </div>
                <div class="field">
                    <div class="control">
                      <textarea class="textarea" placeholder="Item Description" id="description" name="description">{{ item.description }}</textarea>
                    </div>
                  </div>
                  <div class="field is-horizontal">
                    <div class="control">
                      @each(c in categories)
                      <input class="is-checkradio" id="{{ c.desc }}" type="checkbox" name="{{ c.desc }}"
                      @if(item.category === c.desc)
                        checked
                        @else
                      @endif
                      >
                      <label for="{{ c.desc }}">{{ c.desc }}</label>
                      @endeach
                    </div>
                  </div>
                  <div class="field is-horizontal">
                      <div class="control">
                          <input class="is-checkradio" id="is_keto" type="checkbox" name="is_keto"
                          @if(item.is_keto)
                            checked
                            @else
                          @endif
                          >
                          <label for="is_keto">Keto</label>

                          <input class="is-checkradio" id="is_whole30" type="checkbox" name="is_whole30"
                          @if(item.is_whole30)
                          checked
                          @else
                          @endif
                          >
                          <label for="is_whole30">Whole 30</label>

                          <input class="is-checkradio" id="is_lowCarb" type="checkbox" name="is_lowCarb"
                          @if(item.is_lowCarb)
                            checked
                            @else
                          @endif
                          >
                          <label for="is_lowCarb">Low Carb</label>
                          <input class="is-checkradio" id="is_paleo" type="checkbox" name="is_paleo"
                          @if(item.is_paleo)
                            checked
                            @else
                          @endif
                          >
                          <label for="is_paleo">Paleo</label>
                            </div>
                            <div class="control">
                                <button class="button is-link">Update</button>
                              </div>
                    </div>

                </form>
      </div>
  </div>
</div>
  </div>
</section>
    
  <script>
         function mainPreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#main-image-preview')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        function altPreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#alt-image-preview')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        </script>
@endsection
