
  .sticky {
    position: fixed !important;
    top: 0px;
    overflow: auto;
    height: 100vh;
  }
  .cart-mobile {
    background: #efefef;
    height: 100%;
    width: 50%;
    text-align: center;
    top: 100px;
  }

  @media screen and (min-width: 1900px) {
  .is-four-fifths-mac {
    flex: none;
    width: 80% !important; 
    }

}

#cart {
  display: flex;
  margin-left: 5%;
  flex-direction: column;
}

.cart-items {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  margin-top: 20px;
}

.cart-image {
  width: 125px;
  height: 125px;
  margin-left: 20px;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 2px 2px 7px 1px gainsboro;
}