
  .sticky {
    position: fixed !important;
    top: 0px;
    overflow: auto;
    height: 100vh;
  }
  .cart-mobile {
    background: #efefef;
    height: 100%;
    width: 50%;
    text-align: center;
    top: 100px;
  }

  @media screen and (min-width: 1900px) {
  .is-four-fifths-mac {
    flex: none;
    width: 80% !important; 
    }

}

#cart {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 25px;
  box-shadow: -9px 0px 20px 0px gainsboro;
  z-index: 9;
}

.cart-items {
  display: flex;
  margin-bottom: 35px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.cart-image {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 2px 2px 7px 1px gainsboro;
}

