@supports (--css: variables) {
	input[type="range"].multirange {
		padding: 0;
		margin: 0;
		display: inline-block;
		vertical-align: top;
	}

	input[type="range"].multirange.original {
		position: absolute;
	}

	input[type="range"].multirange.original::-webkit-slider-thumb {
			position: relative;
			z-index: 2;
	}

	input[type="range"].multirange.original::-webkit-slider-thumb {
		position: relative;
		z-index: 2;
}

		input[type="range"].multirange.original::-moz-range-thumb {
			transform: scale(1); /* FF doesn't apply position it seems */
			z-index: 1;
		}

		input[type="range"].multirange::-moz-range-track {
			border-color: transparent; /* needed to switch FF to "styleable" control */
		}

	input[type="range"].multirange.ghost {
		position: relative;
		/* background: var(--track-background);
		--track-background: linear-gradient(to right,
				transparent var(--low), var(--range-color) 0,
				var(--range-color) var(--high), transparent 0
			) no-repeat 0 45% / 100% 40%;
		--range-color: hsl(190, 80%, 40%); */
	}

		input[type="range"].multirange.ghost::-webkit-slider-runnable-track {
			background: white;
			border-radius: 10px;
		}

		input[type="range"].multirange.ghost::-moz-range-track {
			background: var(--track-background);
		}

}


[type='range'] {
	margin: 0;
	padding: 0;
	width: 12.5em;
	height: 1.5em;
	background: transparent;
	font: 1em/1 arial, sans-serif;
  }
  [type='range'], [type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
  }
  [type='range']::-webkit-slider-runnable-track {
	box-sizing: border-box;
	border: none;
	width: 12.5em;
	height: 0.25em;
	background: #ccc;
  }
  [type='range']::-moz-range-track {
	box-sizing: border-box;
	border: none;
	width: 12.5em;
	height: 0.25em;
	background: #ccc;
  }
  [type='range']::-ms-track {
	box-sizing: border-box;
	border: none;
	width: 12.5em;
	height: 0.25em;
	background: #ccc;
  }
  [type='range']::-webkit-slider-thumb {
	margin-top: -0.625em;
	box-sizing: border-box;
	border: none;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background:#aad0ad;
  }
  [type='range']::-moz-range-thumb {
	box-sizing: border-box;
	border: none;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #aad0ad;
  }
  [type='range']::-ms-thumb {
	margin-top: 0;
	box-sizing: border-box;
	border: none;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #aad0ad;
  }
  [type='range']::-ms-tooltip {
	display: none;
  }
  