@layout('layout.admin.master')
@section('content')


<div class="content">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-user">
              <div class="image">
                
              </div>
              <div class="card-body">
                <div class="author">
                  <a href="#">
                    <h5 class="title">{{prod.name}}</h5>

                  </a>
                  <div class="col-3 mx-auto">
                  <div class="switch inverted">

                      <input type="radio" name="switch" id="false"
                      @if(prod.metadata.status === 'false')
                        checked
                      @endif
                      >
                      <input type="radio" name="switch" id="true" 
                      @if(prod.metadata.status === 'true')
                        checked
                      @endif
                      >
                
                      <label for="switch-off"><i data-feather="eye-off"></i></label>
                      <label for="switch-on"><i data-feather="eye"></i></label>
                
                      <span class="toggle"></span>
                    </div>
                  </div>
                  <div class="thumbnails"></div>
                  <div class="progress_bar" id="progress_bar" color="blue" width="100%" style="display:block;background-color:#0000FF;height:35px;width:0%"></div>
                  <input name="file" type="file" multiple class="cloudinary-fileupload" data-cloudinary-field="image_id">
                  <input id="button" type="button" value="Cancel" />
                  
                </div>


              </div>

              <div class="card-footer">

                <hr>
                <div class="button-container">
                  <div class="row">
                    <div class="col-lg-3 col-md-6 col-6 ml-auto">
                      <h5>
                        @if(prod.skus)
                        {{prod.skus.data.length - 1}}
                        @else
                        0
                        @endif
                        <br>
                        <small>Variations</small>
                      </h5>
                    </div>
                    <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                      <h5>2GB
                        <br>
                        <small>Images</small>
                      </h5>
                    </div>
                    <div class="col-lg-3 mr-auto">
                      <h5>24,6$
                        <br>
                        <small>Spent</small>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Variations</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled team-members">
                        <li>
                          <div class="row">
                            <div class="col-md-12 col-12">
                              Use the form to the right to create additional sizes for this product.  Once you are done adding sizes, click the save button below to create the item in Stripe.
                              <br />

                            </div>

                          </div>
                        </li>

                      </ul>
                      <div class="row">
                          <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-success save-form">Save Item</button>
                          </div>
                        </div>
                    </div>
                  </div>
          </div>
          <!-- item-card -->
          <div class="col-md-8">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Add Item</h5>
              </div>
              <div class="card-body">
                <form id="parent_product">
                  <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">

                        @unless(prod.skus.data.length > 1)
                        <input type="hidden" name="id" value="{{prod.skus.data[0].id}}" />
                        @endunless
                        <label>Item Name</label>
                        <input type="text" name="name" placeholder="Name" required value="{{prod.name}}" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-3 pr-2">
                      <div class="form-group">
                        <label>Short Description</label>
                        <input type="text" name="short_name" class="form-control" placeholder="Short Description" value="">
                      </div>
                    </div>
                    <div class="col-md-3 pr-3">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Price</label>
                        <input type="text" name="price" class="form-control" placeholder="Price" value="{{prod.skus.data[0].price}}">
                      </div>
                    </div>
                    <div class="col-md-2 pr-4">
                            <div class="form-group">
                              <label>Quantity</label>
                              <input type="text" class="form-control" name="quantity" placeholder="Quantity" value="">
                            </div>
                          </div>
                  </div>
                  <div class="row">

                    <div class="col-md-3 pr-2">
                      <div class="form-group">
                        <label>Product Category</label>
                        <select class="form-control muted" name="primary_category">
                            <option selected value="{{prod.metadata.primary_category}}">{{prod.metadata.primary_category}}</option>
                            <option name="lunchDinner" value="lunchDinner">Lunch & Dinner</option>
                            <option name="breakfast" value="Breakfast">Breakfast</option>
                            <option name="snacks" value="Snacks">Snacks</option>
                            <option name="drinks" value="Drinks">Drinks</option>
                          </select>
                      </div>
                    </div>
                    <div class="col-md-3 pr-2">
                        <div class="form-group">
                            <label>Size</label>
                              <input type="text" class="form-control" placeholder="Size" name="size" value="{{prod.skus.data[0].attributes.size}}">
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Calories</label>
                        <input type="text" class="form-control" name="calories" placeholder="calories" value="{{prod.skus.data[0].metadata.calories}}">
                      </div>
                    </div>
                    <div class="col-md-3">
                            <div class="form-group">
                              <label>Carbs</label>
                              <input type="text" class="form-control" name="carbs" placeholder="carbs" value="{{prod.skus.data[0].metadata.carbs}}">
                            </div>
                          </div>                    <div class="col-md-3">
                                <div class="form-group">
                                  <label>Proteins</label>
                                  <input type="text" class="form-control" name="proteins" placeholder="proteins" value="{{prod.skus.data[0].metadata.proteins}}">
                                </div>
                              </div>                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label>Fats</label>
                                      <input type="text" class="form-control" name="fats" placeholder="fats" value="{{prod.skus.data[0].metadata.fats}}">
                                    </div>
                                  </div>       
                                  <div class="col">
                                      <label for="sehir">Filters</label>
                                      @if(prod.skus.data[0].metadata.filters.length != 0)
                                      <input type="text" name="filters" value="{{prod.skus.data[0].metadata.filters}}" data-role="tagsinput" class="form-control" />
                                      @else
                                      <input type="text" name="filters" value="Everyday" data-role="tagsinput" class="form-control" />
                                      @endif
                                  </div>             
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Description</label>
                        <textarea name="description" class="form-control textarea">{{prod.description}}</textarea>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" name="status" 
                  @if(prod.metadata.status)
                    value="{{prod.metadata.status}}"
                  @endif
                  />
                </form>
              </div>
              
            </div>
            <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Size Variations</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled size-variations">
                        <li class="form-variation">
                            @each(sku in prod.skus.data)
                            @unless($loop.first)
                          <form id="variation_{{$loop.index + 1}}">
                          <div class="row">
                                <input type="hidden" name="id" value="{{prod.skus.data[$loop.index].id}}" />

                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Label</label>
                                  <input type="text" class="form-control" name="size" placeholder="Size Label" value="{{prod.skus.data[$loop.index].metadata.size}}">
                              </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                  <label>Price</label>
                                  <input type="text" class="form-control" name="price" placeholder="Price" value="{{prod.skus.data[$loop.index].price}}">
                                </div>

                              </div>   
                            <div class="col-md-2">
                              <div class="form-group">
                                <label>Calories</label>
                                  <input type="text" class="form-control" name="calories" placeholder="Calories" value="{{prod.skus.data[$loop.index].metadata.calories}}">
                              </div>
                            </div>
                                        <div class="col-md-2">
                                                <div class="form-group">
                                                  <label>Carbs</label>
                                                  <input type="text" class="form-control" name="carbs" placeholder="Carbs" value="{{prod.skus.data[$loop.index].metadata.carbs}}">
                                                </div>
                                              </div> 
                                              <div class="col-md-2">
                                                    <div class="form-group">
                                                      <label>Proteins</label>
                                                      <input type="text" class="form-control" name="proteins" placeholder="Proteins" value="{{prod.skus.data[$loop.index].metadata.proteins}}">
                                                    </div>
                                                  </div>
                                                  <div class="col-md-2">
                                                        <div class="form-group">
                                                          <label>Fats</label>
                                                          <input type="text" class="form-control" name="fats" placeholder="Fats" value="{{prod.skus.data[$loop.index].metadata.fats}}">
                                                        </div>

                                                      </div>   
                                                      <div class="col-md-8">
                                                          <btn data-toggle="tooltip" data-placement="top" title="Add another size" class="btn btn-md btn-outline-success btn-round btn-icon add-another"><i class="nc-icon nc-simple-add"></i></btn>
                                                          <btn class="btn btn-md btn-outline-danger btn-round btn-icon remove-size" data-toggle="tooltip" data-placement="top" title="Delete this size"><i class="nc-icon nc-simple-remove"></i></btn>
                                                      </div> 
                                                                     
                                      </div>
                          </form>
                        </li>
                        @endunless
                        @endeach
                        <div class="dropdown-divider"></div>

                      </ul>
                    </div>
                  </div>
          </div> <!-- /item card-->
        </div>

        </div>
      </div>
<script>
    (function() {
      function getScript(url,success){
        var script=document.createElement('script');
        script.src=url;
        var head=document.getElementsByTagName('head')[0],
            done=false;
        script.onload=script.onreadystatechange = function(){
          if ( !done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete') ) {
            done=true;
            success();
            script.onload = script.onreadystatechange = null;
            head.removeChild(script);
          }
        };
        head.appendChild(script);
      }


        getScript('/js/jquery-2.2.4.min.js',function(){
                getScript('/js/jquery.fileupload.min.js', function(){
                    getScript('/js/cloudinary-jquery-file-upload.min.js', function(){
                      $('input[name=switch]').on('change', function(){
                        $('input[name=status]').val($(this).attr('id'))
                      })
                        const configSettings = {
    //api_key: '239559663666399',
    cloud_name: 'themurphs',
    upload_preset: 'z3dsbrwx',
    // format: "jpg",
    // callback: 'https://hookstore.io/bin/jmrrqzk',
  }

$.cloudinary.config(configSettings);

$(document).on('click', '.add-another', function(){
  var id = $('body').find('form').length
  id = id - 1 //Get number of forms on the page and subtract 1
  $(this).closest('li.form-variation').clone().appendTo($('ul.size-variations')) //Clone our size variation form
  $('form').last().attr('id', 'variation_' + id) //Increment the form id by 1.

})

$(document).on('click', '.remove-size', function(){
  var id = $('body').find('form').length
  id = id - 1
  console.log(id)
  if (id != 2) {
    $(this).closest('li.form-variation').remove()

  }
})

$(document).on('click', '#add-another-variation', function(){
    var data = $(this).data()
    var i = data.variation + 1
    var form = $('#item-variations')
    form.append('<hr /><form id="variation_'+i+'"><ul id="variation-'+i+'">\
        <input type="text" name="name" placeholder="Name" required />\
                <input type="text" name="short_name" placeholder="Short Description" />\
                <input type="number" name="price" placeholder="Price" />\
                <input type="text" name="quantity" placeholder="Quantity" />\
                <input type="text" name="category" placeholder="Category" />\
                <textarea name="description">Enter item description</textarea>\
                <input type="text" name="'+data.variationType+'" placeholder="'+data.variationType+'"/>\
                <input type="text" name="calories" placeholder="Calories" />\
                <input type="text" name="fats" placeholder="Fats" />\
                <input type="text" name="carbs" placeholder="Carbs" />\
                <input type="text" name="proteins" placeholder="Proteins" />\
                <a class="button add-another" id="add-another-variation" data-variation="'+i+'" data-variation-type="'+data.variationType+'">Add another</a></ul></form>')
})
$("select#variation").change(function(){
    var form = $('#item-variations')
    form.html('<form id="variation_1" ><ul id="variation-1">\
        <input type="text" name="name" placeholder="Name" required />\
                <input type="text" name="short_name" placeholder="Short Description" />\
                <input type="number" name="price" placeholder="Price" />\
                <input type="text" name="quantity" placeholder="Quantity" />\
                <input type="text" name="category" placeholder="Category" />\
                <textarea name="description" Placeholder="Enter item description"></textarea>\
                <hr />\
                <input type="text" name="'+$(this).val()+'" placeholder="'+$(this).val()+'"/>\
                <input type="text" name="calories" placeholder="Calories" />\
                <input type="text" name="fats" placeholder="Fats" />\
                <input type="text" name="carbs" placeholder="Carbs" />\
                <input type="text" name="proteins" placeholder="Proteins" />\
                <a class="button add-another" id="add-another-variation" data-variation="1" data-variation-type="'+$(this).val()+'">Add another</a></ul></form>')

});
$(document).ready(function() {

  if ($.fn.cloudinary_fileupload !== undefined) {
      
    
   $("input.cloudinary-fileupload[type=file]")
    .attr("data-form-data", JSON.stringify(configSettings));
    
    $("input.cloudinary-fileupload[type=file]")
      .cloudinary_fileupload()
    .bind('fileuploadadd', function (e, data) {
    data.context = $('<p/>').text('Uploading...').appendTo(document.body);
    var ajax = data.submit();
      $('#button').on('click',function(e){
        ajax.abort();
  })
    })
     .bind("cloudinarydone", function(e, data) {
      $('#parent_product').append('<input type="hidden" name="primary_img" value="'+data.result.url+'" />')
      $(".thumbnails").append(
        $.cloudinary.image(data.result.public_id, {
          format: "jpg",
          width: 150,
          height: 100,
          crop: "thumb",
          gravity: "face",
          effect: "saturation:50"
        })
      );
    })
      .bind("cloudinaryprogress", function(e, data) {
      $(".progress_bar").css(
        "width",
        Math.round(data.loaded * 100.0 / data.total) + "%"
      );
    });
  }
});

$('.save-form').on('click', function(){
  $(this).html('Saving changes... <div id="loading"></div>')
  $(this).attr('disabled', 'disabled')
  var master = {}
    var forms = $('.content').find('form')


    for (var i = 0; i < forms.length; i++) {
        var obj = {};
        var formName = forms[i].id
		var elements = forms[i].querySelectorAll( "input, select, textarea" );
		for( var x = 0; x < elements.length; ++x ) {
			var element = elements[x];
			var name = element.name;
			var value = element.value;

			if( name ) {
				obj[ name ] = value;
			}
        }
        master[formName] = obj
    }
    console.log(master)
    
    $.ajax({
        type: "POST",
        url: "/admin/items/edit/sku",
        // The key needs to match your method's input parameter (case-sensitive).
        data: JSON.stringify(master),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){
            console.log('success');
            toastr['success']('Item updated successfully')
            $('.save-form').removeAttr('disabled')
            $('.save-form').html('SAVE ITEM')
        },
        failure: function(errMsg) {
            alert(JSON.stringify(errMsg));
        }
    });
})


//Function for placeholders
$(function() {
    var inputs = $('input, textarea')
    inputs.each(function(){
        var i = $(this)
        if (i.val() == 'undefined') {i.val('')}
        if (i.val().length) {
            i.addClass('populated');
        } else {
            i.removeClass('populated');
        }
    })
  $('input').on('change', function() {
    var input = $(this);
    if (input.val().length) {
      input.addClass('populated');
    } else {
      input.removeClass('populated');
    }
  });
  
  setTimeout(function() {
    $('#fname').trigger('focus');
  }, 500);
});
                    })
                })
        });

    })();





    </script>


@endsection