@layout('layout.admin.master')
@section('content')

<style>
  .comSection--light {
    padding: 16px 24px;
    background-color: #f8f8f8;
    border-radius: 3px;
  }

  .comSection__header {
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: 700;
    font-size: .9em;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }

  .text-smaller {
    font-size: .9em;
  }

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }

  .table-wrap {
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  table.full {
    width: 100%;
    margin-bottom: 1em;
  }

  th {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: .8em;
    padding-top: 20px;
    border-bottom: 2px solid #00a0df;
  }

  th,
  td {
    text-align: left;
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  ul {
    list-style: none;
  }
  .product-id.muted {
    position: absolute;
    top:10px;
    right: 30px;
  }
  .sku-id.muted {
    position: relative;
    left: 68%;
    bottom: 45px;
}
</style>
<div class="content">
  <div class="row">
    <div class="col-md-4">

        <section class="comSection comSection--light" style="position:fixed;width:25%;">

              <div class="row">
                <div class="col-md-12 col-12">
                    <h5 class="card-title">Add New Item</h5>
                  Use the forms to the right to create a new menu item.  The first form is for the Product information.  This is the name, description and image that should show up on the product card on the menu page.  The additional forms are for creating skus for each product.  Each product must have at least one sku.  If you have a variation such as Turkey/Tofu or Caramel/Vanilla you would enter that into The first field.
                  <br />

                </div>

              </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-success save-form">Save Item</button>
            </div>
          </div>
        </section>
    </div>
    <!-- item-card -->
    <div class="col-md-8 sku-column">
      <section class="comSection comSection--light">
        <h5 class="card-title">Product Info</h5>
        <form id="parent_product">

        <input type="text" name="product_id" class="product-id muted" disabled  value="{{prod.id ? prod.id : NULL}}"/>

          <div class="row">
            <div class="col-9">
              <div class="row">
                <div class="col-md-4 col-lg-4 mx-auto">
                  <div class="form-group">
                    <input type="text" name="name" id="productName" placeholder="Name" required class="form-control"
                    value="{{(prod.name ? prod.name :  NULL)}}"
                    >
                  </div>
                </div>

                <div class="col-md-4 col-lg-4 mx-auto">
                  <div class="form-group">
                    <select class="form-control muted" name="category">
                      @unless(prod)
                      <option>Choose a product category</option>
                      @endunless
                        @each(cat in ['lunchDinner', 'breakfast', 'snacks', 'drinks'])
                        <option 
                        @if(prod.metadata.primary_category == cat)
                          selected
                        @endif
                        name="{{cat}}" value="{{cat}}"
                        >{{capitalize(cat).split(/(?=[A-Z])/).join(" & ")}}</option>
                        @endeach
                    </select>

                  </div>
                </div>

                <div class="col-md-4 col-lg-4 mx-auto">
                    <div class="form-group">
                      <select class="form-control muted" name="label" onchange="updateSkuLabel({{$loop.index}}, this.value)">
                        @unless(prod)
                        <option>Choose a label</option>
                        @endunless
                          @each(cat in ['everyday', 'lowCarb', 'performance', 'elite', 'snack', 'breakfast'])
                          <option 
                          @if(prod.metadata.label == cat)
                            selected
                          @endif
                          name="{{cat}}" value="{{cat}}"
                          >{{capitalize(cat).split(/(?=[A-Z])/).join(" ")}}</option>
                          @endeach
                      </select>
  
                    </div>
                  </div>
                <div class="col-10 mx-auto">
                  <textarea class="form-control" name="description" placeholder="Product Description" rows="4">{{prod.description ? prod.description.trim() : NULL}}
                  </textarea>
                </div>
              </div>

            </div>
            <div class="col-3">
              <div class="thumbnails"></div>
              <div class="progress_bar" id="progress_bar" color="blue" width="100%"
                style="display:block;background-color:#0000FF;height:35px;width:0%"></div>
              <input name="file" type="file" multiple class="cloudinary-fileupload" data-cloudinary-field="image_id">
        </form>
      </section>

      <hr class="mb-3">
      <!-- First Sku -->
      @if(sku)
      @each(s in sku)      
      <section class="comSection comSection--light">
          <h5 class="card-title">Sku Info</h5>
          <form id="sku{{$loop.index}}">
            <input class="sku-id muted" id="sku{{$loop.index}}_id" name="sku_id" value="{{s.id ? s.id : NULL}}" />

            <div class="row">
              <div class="col-md-4 col-lg-4 mx-auto">
                <div class="form-group">
                  <input type="text" name="label" placeholder="Protein Type/Flavor" required class="form-control" value="{{s.metadata.label ? s.metadata.label : NULL}}" onchange="appendSkuLabel({{$loop.index}}, this.value)" />
                </div>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto">
                <div class="form-group">
                  <input type="text" name="price" placeholder="Price" required class="form-control" value="{{s.price ? currency(s.price, true) : NULL}}">
                </div>
              </div>
        
        
            </div>
            <div class="row">
        
              <div class="col-md-2">
                <div class="form-group">
                  <label>Calories</label>
                  <input type="text" class="form-control" name="calories" placeholder="Calories"
                    value="{{s.metadata.calories}}">
                </div>
        
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Carbs</label>
                  <input type="text" class="form-control" name="carbs" placeholder="Carbs"
                    value="{{s.metadata.carbs}}">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Proteins</label>
                  <input type="text" class="form-control" name="proteins" placeholder="Proteins"
                    value="{{s.metadata.proteins}}">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Fats</label>
                  <input type="text" class="form-control" name="fats" placeholder="Fats"
                    value="{{s.metadata.fats}}">
                </div>
        
              </div>
        
            </div>
        
          </form>
        </section>

        <hr class="mb-3">
        @endeach
        @else
        <section class="comSection comSection--light sku-form" id="skuForm0">
            <h5 class="card-title">Sku Info</h5>
            <form id="sku0">

              <input class="sku-id muted" id="sku0_id" name="sku_id" value="{{s.id ? s.id : NULL}}" />
  
              <div class="row">
                <div class="col-md-4 col-lg-4 mx-auto">
                  <div class="form-group">
                    <input type="text" name="label" placeholder="Protein Type/Flavor" required class="form-control" value="{{s.metadata.label ? s.metadata.label : NULL}}" onchange="appendSkuLabel('0', this.value)" />
                  </div>
                </div>
                <div class="col-md-4 col-lg-4 mx-auto">
                  <div class="form-group">
                    <input type="text" name="price" placeholder="Price" required class="form-control" value="{{s.price ? currency(s.price, true) : NULL}}">
                  </div>
                </div>
          
          
              </div>
              <div class="row">
          
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Calories</label>
                    <input type="text" class="form-control" name="calories" placeholder="Calories"
                      value="{{s.metadata.calories}}">
                  </div>
          
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Carbs</label>
                    <input type="text" class="form-control" name="carbs" placeholder="Carbs"
                      value="{{s.metadata.carbs}}">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Proteins</label>
                    <input type="text" class="form-control" name="proteins" placeholder="Proteins"
                      value="{{s.metadata.proteins}}">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Fats</label>
                    <input type="text" class="form-control" name="fats" placeholder="Fats"
                      value="{{s.metadata.fats}}">
                  </div>
          
                </div>
          
              </div>
          
            </form>
          </section>
          <hr class="mb-3">
          @endif

    </div>



</div> <!-- /item card-->
</div>
<a onclick="addSkuSection()" style="position:fixed;bottom:100px;right:20px;"><i data-feather="plus"></i></a>

</div>
</div>
<script>
  (function () {
    function getScript(url, success) {
      var script = document.createElement('script');
      script.src = url;
      var head = document.getElementsByTagName('head')[0],
        done = false;
      script.onload = script.onreadystatechange = function () {
        if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {
          done = true;
          success();
          script.onload = script.onreadystatechange = null;
          head.removeChild(script);
        }
      };
      head.appendChild(script);
    }


    getScript('/js/jquery-2.2.4.min.js', function () {
      getScript('/js/jquery.fileupload.min.js', function () {
        getScript('/js/cloudinary-jquery-file-upload.min.js', function () {
          const configSettings = {
            //api_key: '239559663666399',
            cloud_name: 'themurphs',
            upload_preset: 'z3dsbrwx',
            // format: "jpg",
            // callback: 'https://hookstore.io/bin/jmrrqzk',
          }

          $.cloudinary.config(configSettings);

          $(document).on('click', '.add-another', function () {
            var id = $('body').find('form').length
            id = id - 2 //Get number of forms on the page and subtract 2
            $(this).closest('li.form-variation').clone().appendTo($('ul.size-variations')) //Clone our size variation form
            $('form').last().attr('id', 'variation_' + id) //Increment the form id by 1.

          })

          $(document).on('click', '.remove-size', function () {
            var id = $('body').find('form').length
            id = id - 1
            console.log(id)
            if (id != 2) {
              $(this).closest('li.form-variation').remove()

            }
          })


          $("select#variation").change(function () {
            var form = $('#item-variations')
            form.html('<form id="variation_1" ><ul id="variation-1">\
        <input type="text" name="name" placeholder="Name" required />\
                <input type="text" name="short_name" placeholder="Short Description" />\
                <input type="number" name="price" placeholder="Price" />\
                <input type="text" name="quantity" placeholder="Quantity" />\
                <input type="text" name="category" placeholder="Category" />\
                <textarea name="description" Placeholder="Enter item description"></textarea>\
                <hr />\
                <input type="text" name="'+ $(this).val() + '" placeholder="' + $(this).val() + '"/>\
                <input type="text" name="calories" placeholder="Calories" />\
                <input type="text" name="fats" placeholder="Fats" />\
                <input type="text" name="carbs" placeholder="Carbs" />\
                <input type="text" name="proteins" placeholder="Proteins" />\
                <a class="button add-another" id="add-another-variation" data-variation="1" data-variation-type="'+ $(this).val() + '">Add another</a></ul></form>')

          });
          $(document).ready(function () {
            $('#productName').on('input', function() {
              var productId = $(this).val()
              console.log(productId)
              productId = productId.replace(/[!@#$%^&*]/g, "").toLowerCase().replace(/ /g, "_")

              $('.product-id').val(productId)
            })



            if ($.fn.cloudinary_fileupload !== undefined) {


              $("input.cloudinary-fileupload[type=file]")
                .attr("data-form-data", JSON.stringify(configSettings));

              $("input.cloudinary-fileupload[type=file]")
                .cloudinary_fileupload()
                .bind('fileuploadadd', function (e, data) {
                  data.context = $('<p/>').text('Uploading...').appendTo(document.body);
                  var ajax = data.submit();
                  $('#button').on('click', function (e) {
                    ajax.abort();
                  })
                })
                .bind("cloudinarydone", function (e, data) {
                  $('#parent_product').append('<input type="hidden" name="primary_img" value="' + data.result.url + '" />')
                  $(".thumbnails").append(
                    $.cloudinary.image(data.result.secure_url, {
                      format: "jpg",
                      width: 150,
                      height: 100,
                      crop: "thumb",
                      gravity: "face",
                      effect: "saturation:50"
                    })
                  );
                })
                .bind("cloudinaryprogress", function (e, data) {
                  $(".progress_bar").css(
                    "width",
                    Math.round(data.loaded * 100.0 / data.total) + "%"
                  );
                });
            }
          });

          $('.save-form').on('click', function () {
            if ($('input[name=label]').val() === "") {
              $('input[name=label]').val('default')
              appendSkuLabel(0, 'default')
            }
              if ( $('input[name=price]').val() === "") {
                toastr['error']('Please add a Protein Type/flavor and price')
                return

              } else {
              var loadingText = 'Saving.. <div id="loading"></div>';
            $(this).html(loadingText).attr('disabled', 'disabled' )
            var master = {}
            var forms = $('.content').find('form')



            for (var i = 0; i < forms.length; i++) {
              var obj = {};
              var formName = forms[i].id
              var elements = forms[i].querySelectorAll("input, select, textarea");
              for (var x = 0; x < elements.length; ++x) {
                var element = elements[x];
                var name = element.name;
                var value = element.value;

                if (name) {
                  obj[name] = value;
                }
              }
              master[formName] = obj
            }

            $.ajax({
              type: "POST",
              url: "/admin/items/add",
              // The key needs to match your method's input parameter (case-sensitive).
              data: JSON.stringify(master),
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function (resp) {
                if (!resp.stack) {
                  toastr['success']('Item saved successfully')
                  $('.save-form').html('Save Item').removeAttr('disabled')
                } else {
                  toastr['error'](resp.stack.split('.')[0])
                  $('.save-form').html('Save Item').removeAttr('disabled')

                }
              },
              error: function (evt, jqXHR, settings, err) {
                toastr['warning']('Error has occurred: ' + settings )
                $('.save-form').html('Save Item').removeAttr('disabled')

          }
            });
            }

          })


          //Function for placeholders
          $(function () {
            var inputs = $('input, textarea')
            inputs.each(function () {
              var i = $(this)
              if (i.val() == 'undefined') { i.val('') }
              if (i.val().length) {
                i.addClass('populated');
              } else {
                i.removeClass('populated');
              }
            })
            $('input').on('change', function () {
              var input = $(this);
              if (input.val().length) {
                input.addClass('populated');
              } else {
                input.removeClass('populated');
              }
            });

            setTimeout(function () {
              $('#fname').trigger('focus');
            }, 500);
          });
        })
      })
    });
  })();



</script>


@endsection