<link rel="stylesheet" href="/css/bulma.min.css" />
<link rel="stylesheet" href="/css/cart.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />

<!-- Mapbox GL JS -->
<script async src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
<script async src='https://npmcdn.com/@turf/turf@5.1.6/turf.min.js'></script>


<!-- Geocoder plugin -->
<!-- Turf.js plugin -->

<script async type="text/javascript" src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script async src="https://www.paypal.com/sdk/js?client-id=sb&"></script>

<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/checkout.css" />
<style>
    select#variation {
    min-height: 50px;
    background: #f2f2f2f2;
    width: 40%;
    position: relative;
    left: 29%;
    padding: 20;
}
textarea {
    background: #f2f2f2;
    border: none;
    min-width: 94%;
    min-height: 200px;
    font-size: 1.25em;
    padding: 25;
    color: #696f6a;
    box-shadow: 2px 2px 7px 0px gainsboro;
    border-radius: 10px;
}

.admin-bar.flex-item {
    margin-left: 25;
    margin-right: 25;
    background: white;
    min-width: 95%;
    padding: 20;
    box-shadow: 2px 2px 15px 2px gainsboro;
    border: 1px solid gainsboro;
    border-radius: 10px;
}
.admin-bar.flex-item > a {
    font-size: 1.25em;
    font-weight: 600;
    color: black;
}

span{
    display: table-cell;
  /* display:block; */
  }
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
/* 
h1 {
  display: table;
  margin: 40px auto;
  color: #fff;
  font: 20px Helvetica;
  text-transform: uppercase;
  letter-spacing: 3px;
} */

form {
  display: table;
  margin: 40px auto;
}
form label {
  position: relative;
  /* display: block; */
}
form label input {
  font: 18px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  /* display: block; */
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
form label input::-webkit-input-placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
form label input:-ms-input-placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
form label input::-ms-input-placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
form label input::placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
form label input:focus, form label input.populated {
  padding-top: 28px;
  padding-bottom: 12px;
}
form label input:focus::-webkit-input-placeholder, form label input.populated::-webkit-input-placeholder {
  color: transparent;
}
form label input:focus:-ms-input-placeholder, form label input.populated:-ms-input-placeholder {
  color: transparent;
}
form label input:focus::-ms-input-placeholder, form label input.populated::-ms-input-placeholder {
  color: transparent;
}
form label input:focus::placeholder, form label input.populated::placeholder {
  color: transparent;
}
form label input:focus + span, form label input.populated + span {
  opacity: 1;
  top: 10px;
}
form label span {
    color: #878c88;
    font-weight: 700;
    position: absolute;
    top: -20px !important;
    left: 10px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
form input[type="submit"] {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  background: #1aaf75;
  color: #fff;
  padding: 16px 40px;
}
form input[type="submit"]:hover {
  background: #109f67;
}
</style>
<ul class="wrapper">
<div class="admin-bar flex-item">
    <a class="button is-primary" href="/admin/items">Products</a>
    <a class="button is-primary">Orders</a>

</div>
</ul>
<ul class="wrapper">
    <ul class="flex-container">
        <div class="flex-item checkout-card">
            <h1 class="menu-heading">Item Info</h1>
                <div class="form-wrapper">
                    <div class="checkout-form">
                        <div class="checkout-form-row">
                            <div id="passsword">
                                <form id="parent_product">
                                    <input type="hidden" name="id" value="{{prod.skus.data[0].id}}" />
                                <label>
                                    <input type="text" name="name" placeholder="Name" required value="{{prod.name}}">
                                    <span>Name</span>
                                </label>
                                <label>
                                    <input type="text" name="short_name" placeholder="Short Description" />
                                    <span>Short Description</span>
                                </label>

                                <label>
                                    <input type="number" name="price" placeholder="Price" value="{{prod.skus.data[0].price}}"/>
                                    <span>Price</span>
                                </label>

                                <label>
                                    <input type="text" name="quantity" placeholder="Quantity" />
                                    <span>Quantity</span>
                                </label>

                                <label>
                                    <input type="text" name="category" placeholder="Primary Category" value="{{prod.metadata.primary_category}}"/>
                                    <span>Primary Category</span>
                                </label>

                                <label>
                                    <input type="text" name="filters" placeholder="Filters, comma separted" />
                                    <span>Filters</span>
                                </label>

                                <label>
                                    <input type="text" name="protein_type" placeholder="Protein Type" value="{{prod.skus.data[0].attributes.protein_type}}"/>
                                    <span>Protein Type</span>
                                </label>

                                <label>
                                    <input type="text" name="size" placeholder="Size" value="{{prod.skus.data[0].attributes.size}}"/>
                                    <span>Size</span>
                                </label>

                                <label>
                                    <input type="text" name="flavor" placeholder="Flavor" value="{{prod.skus.data[0].attributes.flavor}}"/>
                                    <span>Flavor</span>
                                </label>

                                <label>
                                    <textarea name="description" placeholder="Enter item description">{{prod.description}}</textarea>
                                    <span>Description</span>
                                </label>
                                <hr />
                                <h1 class="menu-heading">Nutrition Info</h1>

                                <label>
                                    <input type="text" name="calories" placeholder="Calories" value="{{prod.skus.data[0].metadata.calories}}"/>
                                    <span>Calories</span>
                                </label>

                                <label>
                                    <input type="text" name="fats" placeholder="Fats" value="{{prod.skus.data[0].metadata.fats}}"/>
                                    <span>Fats</span>
                                </label>

                                <label>
                                    <input type="text" name="carbs" placeholder="Carbs" value="{{prod.skus.data[0].metadata.carbs}}"/>
                                    <span>Carbs</span>
                                </label>

                                <label>
                                    <input type="text" name="proteins" placeholder="Proteins" value="{{prod.skus.data[0].metadata.proteins}}"/>
                                    <span>Proteins</span>
                                </label>
                                <a id="submit" class="button is-primary">submit</a>
                                </form>
                            </div>                
                        </div>
                    </div>
                </div>
        </div>

        <div class="flex-item checkout-card">
                <h1 class="menu-heading">Pictures</h1>
                <div class="form-wrapper">
                    <div class="checkout-form">
                        <div class="checkout-form-row">
                            <div id="passsword">
                                <div class="progress_bar" id="progress_bar" color="blue" width="100%" style="display:block;background-color:#0000FF;height:35px;width:0%"></div>
                                    <input name="file" type="file" multiple class="cloudinary-fileupload" data-cloudinary-field="image_id">
                                    <input id="button" type="button" value="Cancel" />
                                    <br>
                                    <div class="thumbnails"></div>
                            </div>                
                        </div>
                    </div>
                </div>
                <h1 class="menu-heading">Meal Variations</h1>
                <select id="variation">
                    <optgroup>
                    <option>Choose variation type</option>
                    <option>protein_type</option>
                    <option>size</option>
                    <option>flavor</option>
                    </optgroup>
                </select>
                <div class="checkout-form-row">
                    <div class="form-wrapper">
                    <div id="item-variations">
                        @each(sku in prod.skus.data)
                        @unless($loop.first)
                        <form id="variation_{{$loop.index}}">
                                <input type="hidden" name="id" value="{{prod.skus.data[$loop.index].id}}" />

                                <label>
                                        <input type="text" name="name" placeholder="Name" required value="{{prod.name}}">
                                        <span>Name</span>
                                    </label>
                                    <label>
                                        <input type="text" name="short_name" placeholder="Short Description" />
                                        <span>Short Description</span>
                                    </label>
    
                                    <label>
                                        <input type="number" name="price" placeholder="Price" value="{{prod.skus.data[$loop.index].price}}"/>
                                        <span>Price</span>
                                    </label>
    
                                    <label>
                                        <input type="text" name="quantity" placeholder="Quantity" />
                                        <span>Quantity</span>
                                    </label>
    
                                    <label>
                                        <input type="text" name="category" placeholder="Primary Category" value="{{prod.metadata.primary_category}}"/>
                                        <span>Primary Category</span>
                                    </label>
    
                                    <label>
                                        <input type="text" name="filters" placeholder="Filters, comma separted" />
                                        <span>Filters</span>
                                    </label>
    
                                    <label>
                                        <input type="text" name="protein_type" placeholder="Protein Type" value="{{prod.skus.data[$loop.index].attributes.protein_type}}"/>
                                        <span>Protein Type</span>
                                    </label>
    
                                    <label>
                                        <input type="text" name="size" placeholder="Size" value="{{prod.skus.data[$loop.index].attributes.size}}"/>
                                        <span>Size</span>
                                    </label>
    
                                    <label>
                                        <input type="text" name="flavor" placeholder="Flavor" value="{{prod.skus.data[$loop.index].attributes.flavor}}"/>
                                        <span>Flavor</span>
                                    </label>
    
                                    <label>
                                        <textarea name="description" placeholder="Enter item description">{{prod.description}}</textarea>
                                        <span>Description</span>
                                    </label>
                                    <hr />
                                    <h1 class="menu-heading">Nutrition Info</h1>
    
                                    <label>
                                        <input type="text" name="calories" placeholder="Calories" value="{{prod.skus.data[$loop.index].metadata.calories}}"/>
                                        <span>Calories</span>
                                    </label>
    
                                    <label>
                                        <input type="text" name="fats" placeholder="Fats" value="{{prod.skus.data[$loop.index].metadata.fats}}"/>
                                        <span>Fats</span>
                                    </label>
    
                                    <label>
                                        <input type="text" name="carbs" placeholder="Carbs" value="{{prod.skus.data[$loop.index].metadata.carbs}}"/>
                                        <span>Carbs</span>
                                    </label>
    
                                    <label>
                                        <input type="text" name="proteins" placeholder="Proteins" value="{{prod.skus.data[$loop.index].metadata.proteins}}"/>
                                        <span>Proteins</span>
                                    </label>
                        </form>
                        @endunless
                        @endeach
                    </div>    
                    </div>            
                </div>
            </div>

</ul>
</ul>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/446514/jquery.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/446514/jquery.ui.widget.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/446514/jquery.fileupload.js"></script>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/446514/cloudinary-jquery-file-upload.js"></script>  
<script>
    const configSettings = {
    //api_key: '239559663666399',
    cloud_name: 'themurphs',
    upload_preset: 'z3dsbrwx',
    // format: "jpg",
    // callback: 'https://hookstore.io/bin/jmrrqzk',
  }

$.cloudinary.config(configSettings);


$(document).on('click', '#add-another-variation', function(){
    var data = $(this).data()
    var i = data.variation + 1
    console.log(data)
    var form = $('#item-variations')
    form.append('<hr /><form id="variation_'+i+'"><ul id="variation-'+i+'">\
        <input type="text" name="name" placeholder="Name" required />\
                <input type="text" name="short_name" placeholder="Short Description" />\
                <input type="number" name="price" placeholder="Price" />\
                <input type="text" name="quantity" placeholder="Quantity" />\
                <input type="text" name="category" placeholder="Category" />\
                <textarea name="description">Enter item description</textarea>\
                <input type="text" name="'+data.variationType+'" placeholder="'+data.variationType+'"/>\
                <input type="text" name="calories" placeholder="Calories" />\
                <input type="text" name="fats" placeholder="Fats" />\
                <input type="text" name="carbs" placeholder="Carbs" />\
                <input type="text" name="proteins" placeholder="Proteins" />\
                <a class="button add-another" id="add-another-variation" data-variation="'+i+'" data-variation-type="'+data.variationType+'">Add another</a></ul></form>')
})
$("select#variation").change(function(){
    var form = $('#item-variations')
    form.html('<form id="variation_1" ><ul id="variation-1">\
        <input type="text" name="name" placeholder="Name" required />\
                <input type="text" name="short_name" placeholder="Short Description" />\
                <input type="number" name="price" placeholder="Price" />\
                <input type="text" name="quantity" placeholder="Quantity" />\
                <input type="text" name="category" placeholder="Category" />\
                <textarea name="description" Placeholder="Enter item description"></textarea>\
                <hr />\
                <input type="text" name="'+$(this).val()+'" placeholder="'+$(this).val()+'"/>\
                <input type="text" name="calories" placeholder="Calories" />\
                <input type="text" name="fats" placeholder="Fats" />\
                <input type="text" name="carbs" placeholder="Carbs" />\
                <input type="text" name="proteins" placeholder="Proteins" />\
                <a class="button add-another" id="add-another-variation" data-variation="1" data-variation-type="'+$(this).val()+'">Add another</a></ul></form>')

});
$(document).ready(function() {

  if ($.fn.cloudinary_fileupload !== undefined) {
      
    
   $("input.cloudinary-fileupload[type=file]")
    .attr("data-form-data", JSON.stringify(configSettings));
    
    $("input.cloudinary-fileupload[type=file]")
      .cloudinary_fileupload()
    .bind('fileuploadadd', function (e, data) {
    data.context = $('<p/>').text('Uploading...').appendTo(document.body);
    var ajax = data.submit();
      $('#button').on('click',function(e){
        console.log('cancel upload');
        ajax.abort();
  })
    })
     .bind("cloudinarydone", function(e, data) {
      console.log(data.result);
      $('#parent_product').append('<input type="hidden" name="primary_img" value="'+data.result.url+'" />')
      $(".thumbnails").append(
        $.cloudinary.image(data.result.public_id, {
          format: "jpg",
          width: 150,
          height: 100,
          crop: "thumb",
          gravity: "face",
          effect: "saturation:50"
        })
      );
    })
      .bind("cloudinaryprogress", function(e, data) {
      $(".progress_bar").css(
        "width",
        Math.round(data.loaded * 100.0 / data.total) + "%"
      );
    });
  }
});

$('#submit').on('click', function(){
    var master = {}
    var forms = $('body').find('form')

    for (var i = 0; i < forms.length; i++) {
        var obj = {};
        console.log(forms[i])
        var formName = forms[i].id
		var elements = forms[i].querySelectorAll( "input, select, textarea" );
		for( var x = 0; x < elements.length; ++x ) {
			var element = elements[x];
			var name = element.name;
			var value = element.value;

			if( name ) {
				obj[ name ] = value;
			}
        }
        master[formName] = obj
    }

    console.log(master)
    $.ajax({
        type: "POST",
        url: "/admin/items/noogaroni",
        // The key needs to match your method's input parameter (case-sensitive).
        data: JSON.stringify(master),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){alert(JSON.stringify(data));},
        failure: function(errMsg) {
            alert(JSON.stringify(errMsg));
        }
    });
})

// $(document).ready(function() {
//   $('input').focus(function(){
//     placeholder = $(this).attr('placeholder');
//     if(placeholder != undefined){
//         $(this).before('<label>'+placeholder+'</label>');
//     }
//   });
//   $('input').blur(function(){
//     $(this).parent().find('label').remove();
//   });
// });

//Function for placeholders
$(function() {
    var inputs = $('input, textarea')
    inputs.each(function(){
        var i = $(this)
        if (i.val() == 'undefined') {i.val('')}
        if (i.val().length) {
            i.addClass('populated');
        } else {
            i.removeClass('populated');
        }
    })
  $('input').on('change', function() {
    var input = $(this);
    if (input.val().length) {
      input.addClass('populated');
    } else {
      input.removeClass('populated');
    }
  });
  
  setTimeout(function() {
    $('#fname').trigger('focus');
  }, 500);
});
</script>