<div id="modal-item" class="modal modal-fx-slideBottom" style="top: 0px;">
    <div class="modal-background" style="background-color:#aad0ad66 !important;"></div>
    <div class="modal-card" style="min-height:50%; background:white;">
    <div class="modal-heading item-card-title" style="z-index:1;"></div><br />
      <div class="modal-content">
          <div class="content item-modal item-card-description"></div>
      </div>
    </div>
</div>
