<div id="modal-pickup" class="modal modal-fx-slideBottom">
    <div class="modal-background opacity-half"></div>
    <button class="modal-close close-delivery button is-large is-primary" aria-label="close"></button>
      <div class="modal-content">
            <h2 class="modal-header">Choose a pickup location</h2>

          <div class="content store-modal" id="listings">
          </div>
      </div>
  </div>