<div id="modal-pickup" class="modal modal-fx-slideBottom">
    <div class="modal-background"></div>
    <div class="modal-heading" style="z-index:1;">Choose a location for pickup</div><br />
    <button class="modal-close close-delivery button is-large is-primary" aria-label="close"></button>
      <div class="modal-content">
          <div class="content store-modal" id="listings">
          </div>
      </div>
  </div>