<div id="modal-pickup-day" class="modal modal-fx-slideTop">
  <div class="modal-background opacity-half"></div>
    <div class="content store-modal" id="pickup-days">
      <div class="modal-heading" style="z-index:1;">Choose a <strong>pickup</strong> day</div><br>
      <div id="pickupDaysList">

      </div>
      </div>
</div>