
<div class="modal fade" id="{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="{{item.skus.data[0].id}}"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="product-modal-image"
                style="background-image:url('{{secure(item.skus.data[0].image)}}'); height:35vh;background-repeat:no-repeat;background-position:center center; background-size:cover;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body-padded" style="padding: 25px;">
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-10 mx-auto">
                        <div class="row">
                            <div class="col-8 col-md-9 mx-auto">
                                <h4 class="item-name mt-0" style="text-transform:uppercase; letter-spacing:.2em;">
                                    {{item.name}}
                                </h4>
                                    <div class="row">
                                            <div class="col mx-auto" style="text-align:center;">
                                                <strong>{{item.skus.data[0].metadata.calories ? item.skus.data[0].metadata.calories : 0}}</strong>
                                                <br />
                                                Calories

                                            </div>
                                            <div class="col mx-auto" style="text-align:center;">
                                                <strong>{{item.skus.data[0].metadata.fats ? item.skus.data[0].metadata.fats : 0}}</strong>
                                                <br />
                                                Fats
                                            </div>
                                            <div class="col mx-auto" style="text-align:center;">
                                                <strong>{{item.skus.data[0].metadata.proteins ? item.skus.data[0].metadata.proteins : 0}}</strong>
                                                <br />
                                                Protein
                                            </div>
                                            <div class="col mx-auto" style="text-align:center;">
                                                <strong>{{item.skus.data[0].metadata.carbs ? item.skus.data[0].metadata.carbs : 0}}</strong>
                                                <br />
                                                Carbs
                                            </div>
                                        </div>


                                </h4>

                                </h4>
                            </div>
                            <div class="col-4 col-md-3 d-flex justify-content-between">
                                <a data-dismiss="modal" style="order:1;" class="checkout-prompt-1" data-id="{{item.id}}"
                                    data-sku="{{item.skus.data[0].id}}" data-name="{{item.name}}"
                                    data-price="{{item.skus.data[0].price}}" data-img_url="{{item.skus.data[0].image}}"
                                    data-quantity="1" href="#" class="">
                                    <img src="/images/shopping-cart-add-button-inactive.png" height="40px" width="40px"
                                        onmouseover="hoverCart(this)" onmouseout="unhoverCart(this)"
                                        onmousedown="hoverCart(this)" />
                                </a>
                                <span class="modal-card-price"
                                style="color:#F48566; font-size:18px; padding-left:10px;">{{currency(item.skus.data[0].price)}}
                            </span>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-10 col-lg-10 mx-auto" style="text-align:center;">
                        <table class="table">
                            <thead>
                                <tr class="d-none d-md-flex d-lg-flex justify-content-around">
                                    <th style="font-weight:400">Description</th>
                                    <th style="font-weight:400" >Nutrition</th>
                                </tr>
                                <tr class="d-flex d-md-none d-lg-none justify-content-center">
                                    <th style="font-weight:400;">Description</th>
                                </tr>

                            </thead>
                            <tbody>
                                <!-- Desktop table style -->
                                <tr class="d-none d-md-block d-lg-block">
                                    <td class="start">
                                        {{item.description}}
                                    </td>
                                    <td>

                                        @!include('layout.user.nutrition-label')
                                    </td>
                                </tr>

                                <!-- Mobile table style -->
                                <tr class="d-flex d-md-none d-lg-none justify-content-center">
                                    <td style="border-bottom:none !important;">
                                        {{item.description}}

                                    </td>
                                </tr>
                                <tr class="d-flex d-md-none d-lg-none justify-content-center">
                                    <th style="text-align:center; font-size:14px; border-top:none !important;font-weight:400;">Nutrition</th>
                                </tr>
                                <tr class="d-flex d-md-none d-lg-none justify-content-center">

                                    <td>
                                            <div class="row pb-4">
                                                    <div class="col mx-auto" style="text-align:center;">
                                                        <strong>{{item.skus.data[0].metadata.calories ? item.skus.data[0].metadata.calories : 0}}</strong>
                                                        <br />
                                                        Calories
        
                                                    </div>
                                                    <div class="col mx-auto" style="text-align:center;">
                                                        <strong>{{item.skus.data[0].metadata.fats ? item.skus.data[0].metadata.fats : 0}}</strong>
                                                        <br />
                                                        Fats
                                                    </div>
                                                    <div class="col mx-auto" style="text-align:center;">
                                                        <strong>{{item.skus.data[0].metadata.proteins ? item.skus.data[0].metadata.proteins : 0}}</strong>
                                                        <br />
                                                        Protein
                                                    </div>
                                                    <div class="col mx-auto" style="text-align:center;">
                                                        <strong>{{item.skus.data[0].metadata.carbs ? item.skus.data[0].metadata.carbs : 0}}</strong>
                                                        <br />
                                                        Carbs
                                                    </div>
                                                </div>
                                                <div class="d-flex ml-2">
                                                @!include('layout.user.nutrition-label')
                                                </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>