<div class="modal fade" id="{{item.skus.data[0].id}}" tabindex="-1" role="dialog" aria-labelledby="{{item.skus.data[0].id}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="card-title">{{item.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="lazy" data-src="{{item.skus.data[0].image}}" />
                <hr />
                {{item.description}}
                <hr />
                Cal: <strong>{{item.skus.data[0].metadata.calories}}</strong>
                @if(item.skus.data[0].metadata.fats)
                Fats: <strong>{{item.skus.data[0].metadata.fats}}</strong>
                @else
                Fats: <strong>0</strong>

                @endif
                Protein: <strong>{{item.skus.data[0].metadata.proteins}}</strong>
                Carbs: <strong>{{item.skus.data[0].metadata.carbs}}</strong>

            <div class="row">
                <!DOCTYPE html >
                <html lang="en">
                <head>
                <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
                <meta charset="utf-8" />
                </head>
                
                <body style="margin: 0;">
                
                <div id="p1" style="overflow: hidden; position: relative; background-color: white; width: 268px; height: 514px;">
                
                <!-- Begin shared CSS values -->
                <style class="shared-css" type="text/css" >
                .t {
                    -webkit-transform-origin: bottom left;
                    -ms-transform-origin: bottom left;
                    transform-origin: bottom left;
                    -webkit-transform: scale(0.25);
                    -ms-transform: scale(0.25);
                    transform: scale(0.25);
                    z-index: 2;
                    position: absolute;
                    white-space: pre;
                    overflow: visible;
                }
                </style>
                <!-- End shared CSS values -->
                
                
                <!-- Begin inline CSS -->
                <style type="text/css" >
                
                #t1_1{left:15px;bottom:149px;letter-spacing:-0.9px;word-spacing:0.7px;}
                #t2_1{left:15px;bottom:129px;letter-spacing:-0.3px;word-spacing:0.1px;}
                #t3_1{left:15px;bottom:467px;letter-spacing:0.6px;word-spacing:-0.4px;}
                #t4_1{left:15px;bottom:455px;word-spacing:-0.2px;}
                #t5_1{left:15px;bottom:441px;word-spacing:-0.2px;}
                #t6_1{left:15px;bottom:411px;letter-spacing:1px;word-spacing:-0.9px;}
                #t7_1{left:15px;bottom:390px;letter-spacing:0.5px;}
                #t8_1{left:79px;bottom:390px;letter-spacing:-0.3px;}
                #t9_1{left:15px;bottom:345px;letter-spacing:-0.8px;word-spacing:2.5px;}
                #ta_1{left:82px;bottom:345px;letter-spacing:-0.3px;}
                #tb_1{left:27px;bottom:325px;letter-spacing:-0.1px;word-spacing:-0.1px;}
                #tc_1{left:27px;bottom:305px;letter-spacing:1px;}
                #td_1{left:64px;bottom:305px;word-spacing:-0.2px;}
                #te_1{left:15px;bottom:284px;letter-spacing:0.2px;}
                #tf_1{left:101px;bottom:284px;letter-spacing:-0.4px;}
                #tg_1{left:15px;bottom:263px;letter-spacing:-0.2px;}
                #th_1{left:71px;bottom:263px;letter-spacing:-0.4px;}
                #ti_1{left:15px;bottom:242px;letter-spacing:-0.4px;word-spacing:2.1px;}
                #tj_1{left:154px;bottom:242px;letter-spacing:-0.3px;}
                #tk_1{left:27px;bottom:222px;letter-spacing:0.2px;word-spacing:-0.4px;}
                #tl_1{left:27px;bottom:202px;letter-spacing:0.2px;word-spacing:-0.4px;}
                #tm_1{left:15px;bottom:181px;}
                #tn_1{left:70px;bottom:181px;letter-spacing:-0.3px;}
                #to_1{left:9px;bottom:79px;letter-spacing:0.1px;word-spacing:20.8px;}
                #tp_1{left:9px;bottom:64px;letter-spacing:-0.2px;}
                #tq_1{left:57px;bottom:64px;letter-spacing:-0.5px;}
                #tr_1{left:154px;bottom:64px;letter-spacing:0.8px;}
                #ts_1{left:200px;bottom:64px;letter-spacing:-0.4px;}
                #tt_1{left:9px;bottom:48px;word-spacing:-0.2px;}
                #tu_1{left:135px;bottom:390px;letter-spacing:0.1px;word-spacing:-0.2px;}
                #tv_1{left:172px;bottom:367px;letter-spacing:0.4px;word-spacing:-0.3px;}
                #tw_1{left:230px;bottom:345px;letter-spacing:-1.3px;}
                #tx_1{left:246px;bottom:345px;}
                #ty_1{left:230px;bottom:324px;letter-spacing:-1.3px;}
                #tz_1{left:246px;bottom:324px;}
                #t10_1{left:230px;bottom:284px;letter-spacing:-1.3px;}
                #t11_1{left:246px;bottom:284px;}
                #t12_1{left:230px;bottom:263px;letter-spacing:-1.3px;}
                #t13_1{left:246px;bottom:263px;}
                #t14_1{left:230px;bottom:242px;letter-spacing:-1.3px;}
                #t15_1{left:246px;bottom:242px;}
                #t16_1{left:230px;bottom:221px;letter-spacing:-1.3px;}
                #t17_1{left:246px;bottom:221px;}
                #t18_1{left:230px;bottom:181px;letter-spacing:-1.3px;}
                #t19_1{left:246px;bottom:181px;}
                #t1a_1{left:134px;bottom:148px;}
                #t1b_1{left:168px;bottom:149px;letter-spacing:-0.6px;word-spacing:0.5px;}
                #t1c_1{left:134px;bottom:128px;}
                #t1d_1{left:206px;bottom:129px;word-spacing:-0.2px;}
                
                .s1_1{
                    FONT-SIZE: 51.6px;
                    FONT-FAMILY: NimbusSanL-Regu_q;
                    color: rgb(0,0,0);
                }
                
                .s2_1{
                    FONT-SIZE: 112.5px;
                    FONT-FAMILY: Arial-Black_v;
                    color: rgb(0,0,0);
                }
                
                .s3_1{
                    FONT-SIZE: 42.2px;
                    FONT-FAMILY: Arial-Black_v;
                    color: rgb(0,0,0);
                }
                
                .s4_1{
                    FONT-SIZE: 51.6px;
                    FONT-FAMILY: Arial-Black_v;
                    color: rgb(0,0,0);
                }
                
                .s5_1{
                    FONT-SIZE: 51.6px;
                    FONT-FAMILY: NimbusSanL-ReguItal_l;
                    color: rgb(0,0,0);
                }
                
                .s6_1{
                    FONT-SIZE: 60.9px;
                    FONT-FAMILY: NimbusSanL-Regu_q;
                    color: rgb(0,0,0);
                }
                
                </style>
                <!-- End inline CSS -->
                
                <!-- Begin embedded font definitions -->
                <style id="fonts1" type="text/css" >
                
                @font-face {
                    font-family: Arial-Black_v;
                    src: url("fonts/Arial-Black_v.woff") format("woff");
                }
                
                @font-face {
                    font-family: NimbusSanL-ReguItal_l;
                    src: url("fonts/NimbusSanL-ReguItal_l.woff") format("woff");
                }
                
                @font-face {
                    font-family: NimbusSanL-Regu_q;
                    src: url("fonts/NimbusSanL-Regu_q.woff") format("woff");
                }
                
                </style>
                <!-- End embedded font definitions -->
                
                <!-- Begin page background -->
                <div id="pg1Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
                <div id="pg1" style="-webkit-user-select: none;"><object width="268" height="514" data="1/1.svg" type="image/svg+xml" id="pdf1" style="width:268px; height:514px; -moz-transform:scale(1); z-index: 0;"></object></div>
                <!-- End page background -->
                
                
                <!-- Begin text definitions (Positioned/styled in CSS) -->
                <div id="t1_1" class="t s1_1">Vitamin A 30%</div>
                <div id="t2_1" class="t s1_1">Calcium 6%</div>
                <div id="t3_1" class="t s2_1">Nutrition Facts</div>
                <div id="t4_1" class="t s1_1">Serving Size: (401g) </div>
                <div id="t5_1" class="t s1_1">Servings Per Container: 1</div>
                <div id="t6_1" class="t s3_1">Amount Per Serving</div>
                <div id="t7_1" class="t s4_1">Calories </div>
                <div id="t8_1" class="t s1_1">670</div>
                <div id="t9_1" class="t s4_1">Total Fat </div>
                <div id="ta_1" class="t s1_1">28g</div>
                <div id="tb_1" class="t s1_1">Saturated Fat 7g</div>
                <div id="tc_1" class="t s5_1">Trans </div>
                <div id="td_1" class="t s1_1">Fat 0.5g</div>
                <div id="te_1" class="t s4_1">Cholesterol </div>
                <div id="tf_1" class="t s1_1">135mg</div>
                <div id="tg_1" class="t s4_1">Sodium </div>
                <div id="th_1" class="t s1_1">550mg</div>
                <div id="ti_1" class="t s4_1">Total Carbohydrate </div>
                <div id="tj_1" class="t s1_1">55g</div>
                <div id="tk_1" class="t s1_1">Dietary Fiber 3g</div>
                <div id="tl_1" class="t s1_1">Sugars 5g</div>
                <div id="tm_1" class="t s4_1">Protein </div>
                <div id="tn_1" class="t s1_1">49g</div>
                <div id="to_1" class="t s1_1">MANUFACTURED IN A FACILITY THAT</div>
                <div id="tp_1" class="t s1_1">ALSO </div>
                <div id="tq_1" class="t s1_1">PROCESSES: </div>
                <div id="tr_1" class="t s1_1">EGG, </div>
                <div id="ts_1" class="t s1_1">PEANUTS,</div>
                <div id="tt_1" class="t s1_1">SHELLFISH, TREENUTS</div>
                <div id="tu_1" class="t s1_1">Calories from Fat 250</div>
                <div id="tv_1" class="t s3_1">% Daily Value*</div>
                <div id="tw_1" class="t s4_1">43</div>
                <div id="tx_1" class="t s1_1">%</div>
                <div id="ty_1" class="t s4_1">35</div>
                <div id="tz_1" class="t s1_1">%</div>
                <div id="t10_1" class="t s4_1">45</div>
                <div id="t11_1" class="t s1_1">%</div>
                <div id="t12_1" class="t s4_1">23</div>
                <div id="t13_1" class="t s1_1">%</div>
                <div id="t14_1" class="t s4_1">18</div>
                <div id="t15_1" class="t s1_1">%</div>
                <div id="t16_1" class="t s4_1">12</div>
                <div id="t17_1" class="t s1_1">%</div>
                <div id="t18_1" class="t s4_1">98</div>
                <div id="t19_1" class="t s1_1">%</div>
                <div id="t1a_1" class="t s6_1">•</div>
                <div id="t1b_1" class="t s1_1">Vitamin C 200%</div>
                <div id="t1c_1" class="t s6_1">•</div>
                <div id="t1d_1" class="t s1_1">Iron 40%</div>
                
                <!-- End text definitions -->
                
                
                </div>
                </body>
                </html>
            </div>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" class="checkout-prompt-1"
                data-id="{{item.id}}" 
                data-sku="{{item.skus.data[0].id}}" 
                data-name="{{item.name}}" 
                data-price="{{item.skus.data[0].price}}" 
                data-img_url="{{item.skus.data[0].image}}" 
                data-quantity="1" 
                href="#" 
                class="is-pulled-right"
              >
    
                           <img src="/images/cart-icon.png" height="40px" />
                            </a>
            </div>
          </div>
        </div>
      </div>