<link rel="stylesheet" href="/css/bulma.min.css" />

<nav class="nav has-background-dark">
    nav bar
</nav>

<nav class="level">
    <a class="button is-success">Test</a>
</nav>

<div class="container">
    <div class="columns">
        <div class="column is-four-fifths">is-four-fifths</div>
        <div class="column">Auto</div>
    </div>              
</div><!--/container-->


<script>
