<div class="card card-user card-product d-none d-md-block d-lg-block"
data-category="{{item.metadata.primary_category}}"
data-id="{{item.id}}"
data-sku="{{item.skus.data[0].id}}"
data-meta='{{toJSON(item.skus.data[0].metadata)}}'
data-toggle="modal" data-target="#{{item.id}}"
>
<div class="image {{ splitFilterTags(item.skus.data[0].metadata.filters) }}">
    <img class="img-fluid lazy" src="{{secure(item.skus.data[0].image)}}" data-src="{{secure(item.skus.data[0].image)}}" />
  </div>
<div class="card-body">
  <div class="row">
    <div class="col-12 col-md-9">
      <h5 class="card-title">{{item.name}}</h5>
    </div>
    <div class="col price">
      @if(item.skus.data.length > 1)
      <h5 class="price-label" style="float:right;">{{currency(item.skus.data[0].price)}}</h5>

      <select class="form-control muted price-change" data-id="{{item.id}}" style="width:150px;float:left;">
        @each(sku in item.skus.data)
          @if(sku.price)

          <option data-sku="{{sku.id}}" data-price="{{sku.price}}" data-img_url="{{sku.image}}" data-name="">
              {{capitalize(sku.attributes.size).replace(/_/g, ' ')}}
            </option>
          @endif
        @endeach
      </select>
      @else
      <h5>{{currency(item.skus.data[0].price)}}</h5>

      @endif
    </div>
  </div>
</div>
<div class="card-footer">
  <hr class="d-none d-lg-block">
    <div class="button-container">
      <div class="row ">
        @if(item.skus.data[0].metadata.calories)
        <div class="col ml-auto d-none d-lg-block pl-5">
          <h5>
              {{item.skus.data[0].metadata.calories}}
            <br>
            <small>Calories</small>
          </h5>
        </div>
        @endif
        @if(item.skus.data[0].metadata.proteins)

        <div class="col ml-auto d-none d-lg-block">
            <h5>
                {{item.skus.data[0].metadata.proteins}}
                           
                <br>
              <small>Protein</small>
            </h5>
          </div>

          @endif 
          @if(item.skus.data[0].metadata.fats)
        <div class="col ml-auto d-none d-lg-block">
              <h5>
               @if(item.skus.data[0].metadata.fats)
               {{item.skus.data[0].metadata.fats}}
               @else
               0
               @endif
                <br>
                <small>Fats</small>
              </h5>
            </div>
            @endif
            @if(item.skus.data[0].metadata.carbs)
            <div class="col ml-auto d-none d-lg-block">
                  <h5>
                      {{item.skus.data[0].metadata.carbs}}

                    <br>
                    <small>Carbs</small>
                  </h5>
                </div>
                @endif

        <div class="col mr-auto d-flex justify-content-end pr-5">
<a class="checkout-prompt-1"
data-id="{{item.id}}"
data-sku="{{item.skus.data[0].id}}" 
data-name="{{item.name}} {{capitalize(item.skus.data[0].attributes.size).replace(/_/g, ' ')}}" 
data-price="{{item.skus.data[0].price}}" 
data-img_url="{{item.skus.data[0].image}}" 
data-quantity="1" 
href="#" 
class="is-pulled-right"
>

         <img src="/images/cart-icon.png" height="40px" onmouseover="hoverCart(this)" onmouseout="unhoverCart(this)" onmousedown="hoverCart(this)" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>