<div class="col-12 col-lg-4 filter {{item.metadata.primary_category}} {{ splitFilterTags(item.skus.data[0].metadata.filters) }}">
        <div class="card card-stats d-none d-block d-sm-block d-md-none" data-toggle="modal" data-target="#{{item.skus.data[0].id}}"
        data-category="{{item.metadata.primary_category}}"
        data-sku="{{item.skus.data[0].id}}"
        data-meta='{{toJSON(item.skus.data[0].metadata)}}'
        >
            <div class="card-body">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <img class="img-fluid lazy" data-src="{{item.skus.data[0].image}}" />
                          </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">{{item.name}}</p>
                            
                            <p class="card-title ">{{currency(item.skus.data[0].price)}}</p><p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
            <hr>
                <div class="stats ">
                    <img src="images/elippsis.png" style="height: 10px" />
                    Cal: <strong>{{item.skus.data[0].metadata.calories}}</strong>
                    @if(item.skus.data[0].metadata.fats)
                    Fats: <strong>{{item.skus.data[0].metadata.fats}}</strong>
                    @else
                    Fats: <strong>0</strong>
                    @endif
                    Protein: <strong>{{item.skus.data[0].metadata.proteins}}</strong>
<!--mobile-->
                    <a class="checkout-prompt-1"
                    data-id="{{item.id}}" 
                    data-sku="{{item.skus.data[0].id}}" 
                    data-name="{{item.name}}" 
                    data-price="{{item.skus.data[0].price}}" 
                    data-img_url="{{item.skus.data[0].image}}" 
                    data-quantity="1" 
                    href="#" 
                    class="is-pulled-right"
                  >
                    <img src="images/cart-icon.png" style="height:20px"/>
                    </a>
                </div>
            </div>
        </div>