<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Hotjar Tracking Code for vibrant-meals.nxone.co -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1251147,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/admin/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/admin/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Vibrant Meals
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="white" />
  <!--     Fonts and icons     -->
  <link href="/admin/css/montserrat.css" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/admin/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/admin/css/paper-dashboard.user.css?v=2.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link rel="stylesheet" href="/css/toastr.min.css">
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
<link href="https://fonts.googleapis.com/css?family=Oswald:300,400|Poppins&display=swap" rel="stylesheet">

  <style>


h2.category-heading {
  font-size: 1.5em;
  color: #4e4e4e;
}
a:hover, a:focus {
  text-decoration: none;
  color: black
}

h2.category-heading:focus, h2.category-heading:hover {
  color: black;
}

body {
  color: white;
  overflow-x: hidden;
}

.navbar.navbar-transparent {
  border-bottom: none !important;
  background: #aad0ad75 !important; 
}



.navbar {
  background: none;
}

  .hero-bg {
    background: url(/images/hero-bg.png);
    background-size: cover;
    background-position: center;

    position: relative;

}

@media screen and (min-width:420px) {
  .carousel {
    max-width: 66%;
    margin-top: 15vh;
  }


}

@media screen and (max-width: 420px) {
  .hero-bg {
    padding-top: 24vh;
  }
}

/* @media(max-width:1200px) {
  .jumbotron {
    background-image:url('/images/hero-bg-md-lg.jpg');
  }
}
@media(max-width:1000px) {
  .jumbotron {
    background-image:url('/images/hero-bg-md.jpg');
  }
}



(max-width:800px) {
  .jumbotron {
    background-image:url('/images/hero-bg-sm.jpg');
  }
}
@media(max-width:500px) {
  .jumbotron {
    background-image:url('/images/hero-bg-xs.jpg');
  }
} */
.empty {
  flex-grow: .2;

}
h2.hero {
    font-weight: 800;
    text-align: left;
    font-size: 46px;
    font-family: 'Poppins', sans-serif;
}
.hero.hero-large {
  font-size: 3rem;
  text-transform: uppercase
}
.form-control.jumbo {
    font-size: 24px;

}
/* .jumbotron {
  color: white;
  background: url('https://res.cloudinary.com/themurphs/image/upload/v1551295968/vibrant_meals/vibrant-header.jpg');
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
} */

.navbar.navbar-transparent .nav-item .nav-link:not(.btn) {
  color: white;
  font-size: 16px;
  font-weight: 800;
}

a.btn.btn-lg.btn-success.btn-hero {
  background: #aad0ad;
  font-size: 2em;
}

.content, .content-secondary {
  padding-left: 10%;
  padding-right: 10%;
}
h1.section-heading.mb-5 {
    text-align: center;
}

.icon {
    font-size: 5em;
    display: flex;
    color: #aad0ac;
    justify-content: center;
}

h2.section-heading {
  text-align: center;
}

.section-heading {
  text-align: center;
}

h4.section-heading {
  font-weight: 900;
}

span.section-description {
  font-size: 20px;
  text-align: center;
}

.content, .content-secondary {
    padding-top: 50px;
    padding-bottom: 50px;
}
.content {
  background: #aad0ae;

}
.content-secondary {
  background: white;
}

.card-header {
  text-align: center;
}

.navbar .nav-item .nav-link:not(.btn) {
    font-weight: 300;
    font-size: 19px;
    font-family: 'Oswald', sans-serif;
}

.card-profile {
  background-color: #e6e6e6;
}

span#basic-addon1 {
    background: #f2f2f2;
    padding-right: 10px;
}

/*These styles are not critical*/
a.active.fulfillment-radio {
    background: white;
    padding: 20px;
    border: .2px solid black;
}

/* .forgot-password{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

} */

.feather-circle {
  border-radius: 50%;
  margin: 5px;
  background:white;
  color:white;
}

svg.feather.feather-circle.active {
    color: #aad1ae;
    background: #aad1ae;

}

.switch {
  font-size: 1rem;
  position: relative;
}
.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}
.switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * .8) * 2);
  border-radius: calc(2.375rem * .8);
  height: calc(2.375rem * .8);
  line-height: calc(2.375rem * .8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}
.switch input + label::before,
.switch input + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375rem * .8) * 2);
  bottom: 0;
  display: block;
}
.switch input + label::before {
  right: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * .8);
  transition: 0.2s all;
}
.switch input + label::after {
  top: 2px;
  left: 2px;
  width: calc(calc(2.375rem * .8) - calc(2px * 2));
  height: calc(calc(2.375rem * .8) - calc(2px * 2));
  border-radius: 50%;
  background-color: white;
  transition: 0.2s all;
}
.switch input:checked + label::before {
  background-color: #08d;
}
.switch input:checked + label::after {
  margin-left: calc(2.375rem * .8);
}
.switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}
.switch input:disabled + label::before {
  background-color: #e9ecef;
}
.switch.switch-sm {
  font-size: 0.875rem;
}
.switch.switch-sm input + label {
  min-width: calc(calc(1.9375rem * .8) * 2);
  height: calc(1.9375rem * .8);
  line-height: calc(1.9375rem * .8);
  text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}
.switch.switch-sm input + label::before {
  width: calc(calc(1.9375rem * .8) * 2);
}
.switch.switch-sm input + label::after {
  width: calc(calc(1.9375rem * .8) - calc(2px * 2));
  height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
  margin-left: calc(1.9375rem * .8);
}
.switch.switch-lg {
  font-size: 1.25rem;
}
.switch.switch-lg input + label {
  min-width: calc(calc(3rem * .8) * 2);
  height: calc(3rem * .8);
  line-height: calc(3rem * .8);
  text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}
.switch.switch-lg input + label::before {
  width: calc(calc(3rem * .8) * 2);
}
.switch.switch-lg input + label::after {
  width: calc(calc(3rem * .8) - calc(2px * 2));
  height: calc(calc(3rem * .8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
  margin-left: calc(3rem * .8);
}
.switch + .switch {
  margin-left: 1rem;
}

/* body {
  padding: 1rem;
} */

.dropdown-menu {
  margin-top: .75rem;
}

.jumbotron-mini {
  min-height: 50vh;
}

.mapboxgl-map {
    min-height: 300px;
    margin-bottom: 15px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 2px gainsboro;
}

.radio {
  margin: 0.5rem;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #aad0ad;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #aad0ad;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.list-item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 22px;
  letter-spacing: 1.83333px;
  text-transform: uppercase;

  color: #444749;

  mix-blend-mode: normal;
  opacity: 0.87;
}
.list-item.active {
    background: #aad0ae;
    color: white;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #aad0ad;
    border-color: #aad0ad;
}
li.list-group-item.d-flex.justify-content-between.align-items-center {
  border: none;
    border-bottom: 1px solid gainsboro;
}
.col.store-hours.is-pulled-right {
    font-size: 1.5em;
    font-weight: 600;

    display: flex;
    justify-content: flex-end;
}

.badge-secondary {
    color: #fff;
    background-color: #aad0ac;
}

.col.date-list-item {
    font-size: 1.5em;
    font-weight: 900;
}
li.list-group-item.button-group {
    text-align: center;
}

li {
  list-style: none;
}

.comSection--light {
    padding: 16px 24px;
    background-color: #f8f8f8;
    border-radius: 3px;
}

.comSection__header {
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: 700;
    font-size: .9em;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.text-smaller {
    font-size: .9em;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-wrap {
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
table.full {
    width: 100%;
    margin-bottom: 1em;
}
th {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: .8em;
    padding-top: 20px;
    border-bottom: 2px solid #00a0df;
}
th, td {
    text-align: left;
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

h5.profile-details {
    word-break: break-word;
    font-size: 16px;
}

@media only screen 
and (min-device-width : 350px) 
and (max-device-width : 1024px)  {

  .ml-9 {
    margin-left: 0 !important;
  }

  .m15 {
    margin: 0 !important;
  }
}

.ml-9 {
    margin-left: 9rem ;
  }

  .m15 {
    margin-top: 15rem;
  }

  p {
    font-family: 'Poppins', sans-serif;
  }

  @media screen and (max-width: 420px) {
    ul.navbar-nav {
    background: #aad0ad;
}
    img.img-brand {
      width: 200px;
    }
    .wrapper {
      top: -75px;
      position: relative;
    }
    .navbar-light .navbar-toggler {
      color: #aad1ae;
      border-color: rgba(0,0,0,.1);
    }
    .navbar-toggle {
      position: absolute;
      right: 15px;
      top: 15px;
      color: #aad1ae;
    }
  }
  .section-heading {
    color:#d86a6a;
  }

  .column {
    flex-direction: column;
  }

  .text-dark {
    font-size: 20px;
  }

  @media and screen (max-width:420px) {
  .carousel {
    max-width: 66%;
  }
  .hero-bg {
    padding-top: 24vh !important;
  }
}
  
</style>

</head>

<body class="">
  <input type="hidden" id="cords" />
  <div class="wrapper ">

    @!include('layout.user.top-nav')

@!section('content')
  </div>

<script src="/admin/js/core/jquery.min.js"></script>
<script src="/admin/js/core/bootstrap.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


<script>
//Initializd our cart if one is not yet set
  if (!localStorage.cart) {
  localStorage.setItem('cart','[]')
  } else {
  var cart = JSON.parse(localStorage.cart)
  }

function capitalize(str){return str.slice(0,1).toUpperCase() + str.slice(1)}
toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-top-right",
  "preventDuplicates": true,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "0",
  "extendedTimeOut": "0",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}



// $(window).scroll(function () {
//   var height = $(window).scrollTop();
//   console.log(height)
//   if (height > 40) {
//     $('.navbar').removeClass('navbar-transparent')

//   } else {
//     $('.navbar').addClass('navbar-transparent')

//   }
// });

$('#password_reset_button').on('click', function(e){
  e.preventDefault()
  $.ajax({
    type: "POST",
    url: "/password/email",
    data: {email: $('#email-reset').val()},
    success: function(data){
      console.log(data)
      if (data.warning) {
        toastr['error'](data.warning)
      }
      if (data.message) {
        toastr['warning'](data[0].message)
      }
      if (data.status) {
        toastr['success'](data.status)
      }
      $('.modal').modal('hide')
    }
  })
})


// Logic for handling fulfillment preferences on user profile page.

$(function () {
   $('input[type=radio]').change(function(e) {
       e.preventDefault();
       if ($(this).val() == 'monday') {
        localStorage.fulfillment_day = $(this).val()

         $('#wednesday-switch').prop('checked', false)
       }
       if ($(this).val() == 'wednesday') {
        localStorage.fulfillment_day = $(this).val()

         $('#monday-switch').prop('checked', false)
       }
       if ($(this).val() == 'pickup') {
        localStorage.fulfillment_method = $(this).val()
        $('#collapseThree').addClass('d-none')
        $('#headingThree').addClass('d-none')
        //This needs to trigger pickup-flow.js in order to set users pickup location

       }
       if ($(this).val() == 'delivery') {
        localStorage.fulfillment_method = $(this).val()
        $('#collapseThree').removeClass('d-none')
        $('#headingThree').removeClass('d-none')
        localStorage.removeItem('pickupLocation')
        localStorage.removeItem('myStore')
        localStorage.removeItem('pickup_location')

       }
       $(this).prop('checked', true);
       $.ajax({
         type: "POST",
         url: "/account/fulfillmethod/update",
         data: {pref: $(this).val()},
         success: function(res) {
           if (res.id) {
             toastr['success']('Delivery preferences updated!')
           }
         }
       })

   });



});

$(document).ready(function(){
  feather.replace()

})

</script>
<script src="/js/form-handler.js"></script>

<script src="https://unpkg.com/feather-icons@4.19.0/dist/feather.min.js"></script>

 <script src='/js/update-cart.js'>
 </script>
<script>
$(document).ready(function(){
  //Only here to show the cart count preview in topnav on mobile.
  updateCartDiv()
  feather.replace()

    $( "a.scrollLink" ).click(function( event ) {
        event.preventDefault();
        if (window.location.href === 'http://localhost:3333/') {
          $("html, body").animate({ scrollTop: $($(this).attr("href")).offset().top - 200 }, 500);
        } else {
          window.location.href = 'http://localhost:3333/#how-it-works'

        }
    });
});

// if('serviceWorker' in navigator) {
//       navigator.serviceWorker
//                .register('/sw.js')
//                .then(function() { console.log("Service Worker Registered"); });
//     }
   </script>
  <script async src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
  <script async src='https://npmcdn.com/@turf/turf@5.1.6/turf.min.js'></script>
   <script src="/js/pickup-flow.js"></script>
  <script>
      $.ajax({
    type: 'GET',
    url: '/api/stores/all',
    success: function(data) {
      if (data.features && data.features.length != 0) {
        $('body').append("<div id='stores' data-stores='"+JSON.stringify(data)+"'></div>")
      } else {
        toastr['warning']('Error loading store locations please refresh the page')
      }
    }
  })

  $('.update-billing').on('click', function(){
    console.log('hello')
    var form = $('#billing')
    $.ajax({
      type: 'POST',
      url: '/account/billing/update',
      data: form.serialize(),
      success: function(res){
        toastr['success']('Address updated successfully')
      }
    })
  })

  $('.update-password').on('click', function(){
    if ($('input[name=password]').val() === $('input[name=password_confirmation]').val()) {
      var data = {
        password: $('input[name=password]').val(),
        password_confirmation: $('input[name=password_confirmation]').val(),
        email: $('#email').val()
      }
      $.ajax({
      type: 'POST',
      url: '/account/password',
      data: data,
      success: function(res){
        toastr['success']('Password updated successfully')
        $('input[name=password]').val('')
        $('input[name=password_confirmation]').val('')
      }
    })
    }

  })

  /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-150px";
  }
  prevScrollpos = currentScrollPos;
}

  </script>