<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Hotjar Tracking Code for vibrant-meals.nxone.co -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1251147,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/admin/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/admin/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Vibrant Meals
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="white" />
  <!--     Fonts and icons     -->
  <link href="/admin/css/montserrat.css" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/admin/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/admin/css/paper-dashboard.user.css?v=2.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link rel="stylesheet" href="/css/toastr.min.css">
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
  <style>


h2.category-heading {
  font-size: 1.5em;
  color: #4e4e4e;
}
a:hover, a:focus {
  text-decoration: none;
  color: black
}

h2.category-heading:focus, h2.category-heading:hover {
  color: black;
}

body {
  color: #4e4e4e;
  overflow-x: hidden;
}

.navbar.navbar-transparent {
  border-bottom: none !important;
  background: #aad0ad75 !important; 
}

.jumbotron {
  min-height: 100vh;
  background-image:url('https://res.cloudinary.com/themurphs/image/upload/c_scale,w_1500/v1551296378/vibrant_meals/vibrant-header-background.jpg');

    background-size: cover;
    background-position: center;
}
@media(max-width:1200px) {
  .jumbotron {
    background-image:url('https://res.cloudinary.com/themurphs/image/upload/c_scale,w_1200/v1551296378/vibrant_meals/vibrant-header-background.jpg');
  }
}
@media(max-width:1000px) {
  .jumbotron {
    background-image:url('https://res.cloudinary.com/themurphs/image/upload/c_scale,w_1000/v1551296378/vibrant_meals/vibrant-header-background.jpg');
  }
}
@media(max-width:800px) {
  .jumbotron {
    background-image:url('https://res.cloudinary.com/themurphs/image/upload/c_scale,w_800/v1551296378/vibrant_meals/vibrant-header-background.jpg');
  }
}
@media(max-width:500px) {
  .jumbotron {
    background-image:url('https://res.cloudinary.com/themurphs/image/upload/c_scale,w_500/v1551296378/vibrant_meals/vibrant-header-background.jpg');
  }
}
.empty {
  flex-grow: .6;

}
h2.hero {
    font-weight: 800;
    text-align: center;
}
.hero.hero-large {
  font-size: 3rem;
  text-transform: uppercase
}
.form-control.jumbo {
    font-size: 24px;

}
/* .jumbotron {
  color: white;
  background: url('https://res.cloudinary.com/themurphs/image/upload/v1551295968/vibrant_meals/vibrant-header.jpg');
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
} */

.navbar.navbar-transparent .nav-item .nav-link:not(.btn) {
  color: white;
  font-size: 16px;
  font-weight: 800;
}

a.btn.btn-lg.btn-success.btn-hero {
  background: #aad0ad;
  font-size: 2em;
}

.content, .content-secondary {
  padding-left: 10%;
  padding-right: 10%;
}
h1.section-heading.mb-5 {
    text-align: center;
    text-transform: uppercase;
}

.icon {
    font-size: 5em;
    display: flex;
    color: #aad0ac;
    justify-content: center;
}

h2.section-heading {
  text-align: center;
}

.section-heading {
  text-align: center;
}

h4.section-heading {
  font-weight: 900;
}

span.section-description {
  font-size: 20px;
  text-align: center;
}

.content, .content-secondary {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.content.content-secondary {
  background: #f2f2f2;


}

.card-header {
  text-align: center;
}

.navbar .nav-item .nav-link:not(.btn) {
  font-weight: 800;
  font-size: 16px;
}

.card-profile {
  background-color: #e6e6e6a6;
}

span#basic-addon1 {
    background: #f2f2f2;
    padding-right: 10px;
}

/*These styles are not critical*/
a.active.fulfillment-radio {
    background: white;
    padding: 20px;
    border: .2px solid black;
}

/* .forgot-password{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

} */

.switch {
  font-size: 1rem;
  position: relative;
}
.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}
.switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * .8) * 2);
  border-radius: calc(2.375rem * .8);
  height: calc(2.375rem * .8);
  line-height: calc(2.375rem * .8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}
.switch input + label::before,
.switch input + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375rem * .8) * 2);
  bottom: 0;
  display: block;
}
.switch input + label::before {
  right: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * .8);
  transition: 0.2s all;
}
.switch input + label::after {
  top: 2px;
  left: 2px;
  width: calc(calc(2.375rem * .8) - calc(2px * 2));
  height: calc(calc(2.375rem * .8) - calc(2px * 2));
  border-radius: 50%;
  background-color: white;
  transition: 0.2s all;
}
.switch input:checked + label::before {
  background-color: #08d;
}
.switch input:checked + label::after {
  margin-left: calc(2.375rem * .8);
}
.switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}
.switch input:disabled + label::before {
  background-color: #e9ecef;
}
.switch.switch-sm {
  font-size: 0.875rem;
}
.switch.switch-sm input + label {
  min-width: calc(calc(1.9375rem * .8) * 2);
  height: calc(1.9375rem * .8);
  line-height: calc(1.9375rem * .8);
  text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}
.switch.switch-sm input + label::before {
  width: calc(calc(1.9375rem * .8) * 2);
}
.switch.switch-sm input + label::after {
  width: calc(calc(1.9375rem * .8) - calc(2px * 2));
  height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
  margin-left: calc(1.9375rem * .8);
}
.switch.switch-lg {
  font-size: 1.25rem;
}
.switch.switch-lg input + label {
  min-width: calc(calc(3rem * .8) * 2);
  height: calc(3rem * .8);
  line-height: calc(3rem * .8);
  text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}
.switch.switch-lg input + label::before {
  width: calc(calc(3rem * .8) * 2);
}
.switch.switch-lg input + label::after {
  width: calc(calc(3rem * .8) - calc(2px * 2));
  height: calc(calc(3rem * .8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
  margin-left: calc(3rem * .8);
}
.switch + .switch {
  margin-left: 1rem;
}

/* body {
  padding: 1rem;
} */

.dropdown-menu {
  margin-top: .75rem;
}

.jumbotron-mini {
  min-height: 50vh;
}

.mapboxgl-map {
    min-height: 300px;
    margin-bottom: 15px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 2px gainsboro;
}
.wrapper {
    position: relative;
    top: 75px;
}
</style>

</head>
@!include('Modals.auth')
<body class="">

        <input type="hidden" id="cords" />

  <div class="wrapper ">
    @!include('layout.user.top-nav')

@!section('content')

<script src="/admin/js/core/jquery.min.js"></script>
<script src="/admin/js/core/bootstrap.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


<script>
//Initializd our cart if one is not yet set
  if (!localStorage.cart) {
  localStorage.setItem('cart','[]')
  } else {
  var cart = JSON.parse(localStorage.cart)
  }

function capitalize(str){return str.slice(0,1).toUpperCase() + str.slice(1)}
toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": true,
  "positionClass": "toast-top-right",
  "preventDuplicates": true,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "0",
  "extendedTimeOut": "0",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}



$(window).scroll(function () {
  var height = $(window).scrollTop();
  console.log(height)
  if (height > 40) {
    $('.navbar').removeClass('navbar-transparent')

  } else {
    $('.navbar').addClass('navbar-transparent')

  }
});

$('#password_reset_button').on('click', function(e){
  e.preventDefault()
  $.ajax({
    type: "POST",
    url: "/password/email",
    data: {email: $('#email-reset').val()},
    success: function(data){
      console.log(data)
      if (data.warning) {
        toastr['error'](data.warning)
      }
      if (data.message) {
        toastr['warning'](data[0].message)
      }
      if (data.status) {
        toastr['success'](data.status)
      }
      $('.modal').modal('hide')
    }
  })
})


// Logic for handling fulfillment preferences on user profile page.

$(function () {
   $('input[type=checkbox]').change(function(e) {
       e.preventDefault();
       if ($(this).val() == 'monday') {
        localStorage.fulfillment_day = $(this).val()

         $('#wednesday-switch').prop('checked', false)
       }
       if ($(this).val() == 'wednesday') {
        localStorage.fulfillment_day = $(this).val()

         $('#monday-switch').prop('checked', false)
       }
       if ($(this).val() == 'pickup') {
        localStorage.fulfillment_method = $(this).val()

         $('#delivery-switch').prop('checked', false)
       }
       if ($(this).val() == 'delivery') {
        localStorage.fulfillment_method = $(this).val()

         $('#pickup-switch').prop('checked', false)
       }
       $(this).prop('checked', true);
       $.ajax({
         type: "POST",
         url: "/account/fulfillmethod/update",
         data: {pref: $(this).val()},
         success: function(res) {
           if (res.id) {
             toastr['success']('Delivery preferences updated!')
           }
         }
       })

   });



});

$(document).ready(function(){
  feather.replace()

})

</script>
<script src="/js/form-handler.js"></script>

<script src="https://unpkg.com/feather-icons@4.19.0/dist/feather.min.js"></script>

<script>

function span1(e){
  var input = $('.section-description.editable > .ql-editor').html()
  $.ajax({
    type: 'POST',
    url: '/how-it-works/update',
    data: {id: 'span1', content: input}
  })
  console.log(input)
		return
	}
  </script>

<script>
$(document).ready(function(){
    $( "a.scrollLink" ).click(function( event ) {
        event.preventDefault();
        // $('html, body').animate({scrollTop: $('#contact').offset().top -100 }, 'slow');
        $("html, body").animate({ scrollTop: $($(this).attr("href")).offset().top - 100 }, 500);
    });
});

if('serviceWorker' in navigator) {
      navigator.serviceWorker
               .register('/sw.js')
               .then(function() { console.log("Service Worker Registered"); });
    }
</script>