<!DOCTYPE html>
<html lang="en">

<head>
<!-- Hotjar Tracking Code for https://staging.myvibrantmeals.com -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1447299,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/admin/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/admin/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Vibrant Meals
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <link href="/admin/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/admin/css/paper-dashboard.user.css?v=2.0.0" rel="stylesheet" />
  <link rel="stylesheet" href="/css/toastr.min.css" />
  <style>
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

  
  body {
    padding-right: 0px !important;
  }

span.quantity {
    position: relative;
    font-weight: bold;
    padding: 5px;
    left: 25%;
}

i.nc-icon.nc-simple-add, i.nc-icon.nc-simple-remove, i.nc-icon.nc-simple-delete {
  background: #aad0ad;
    border-radius: 50%;
    color: white;
  }

h2.category-heading {
  font-size: 18px;
  color: #4e4e4e;
  font-family: 'Poppins', sans-serif;
  border-bottom: 5px solid white;
}

.menu-hide.show a h2 {
  border-bottom: none;
}
a:hover, a:focus {
  text-decoration: none;
  color: black
}

h2.category-heading:focus, h2.category-heading:hover {
  color: black;
}


.list-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 22px;
  letter-spacing: 1.83333px;
  text-transform: uppercase;

  color: #444749;

  mix-blend-mode: normal;
  opacity: 0.87;
}
.list-item.active {
    background: #aad0ae;
    color: white;
}
body {
  color: #4e4e4e
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #aad0ad;
    border-color: #aad0ad;
}
li.list-group-item.d-flex.justify-content-between.align-items-center {
  border: none;
    border-bottom: 1px solid gainsboro;
}
.badge-secondary {
    color: #fff;
    background-color: #aad0ac;
}

.fulfillment-option {
  padding-right: 0!important;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.fulfillment-option.active {
  text-align: center;
    background: #f2f2f2;
    border-radius: 10px;
    color: black;
    padding: 5px;
}
.col.store-hours.is-pulled-right {
    font-size: 14px;
    font-weight: 600;

    display: flex;
    justify-content: flex-end;
}



.col.date-list-item {
  font-size: 14px;
}
li.list-group-item.button-group {
    text-align: center;
}

.navbar .navbar-collapse .nav-item a {
    font-size: 18px;
    font-weight: 300;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.card-title {
    margin-bottom: .75rem;
    /* font-size: 18px; */
    font-weight: 800;
    color: #575353;
}

.form-control {
  font-size: 18px;
}

/* styles below this line are not critical to above the fold */
h5.heading {
    font-size: 36px;
    font-weight: 900;
    margin-top: 20PX;
    
}
a#delivery, a#pickup {
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
}

.card-stats .card-footer .stats {
    display: flex;
    color: #9A9A9A;
    align-items: center;
    justify-content: space-between;
}
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
  box-sizing: border-box;

  height: 40px;
  width: 100%;
  color: green;

  padding: 10px 12px;

  border: 1px solid #aad0ad;
  font-size:24px !important;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

label {
    font-size: 18px;
    color: black;
}

#category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    max-height: 100px;
    padding: 20px;
}


#category-container .img-container:hover > h2 {
  border-radius: 0px;
  text-decoration: underline;
}
#category-container .img-container .icon {
  position: relative;
  width: 27px;
  /* margin-top: 15%; */
}
#category-container h2 {
  font-weight: 300;
}

li {
  list-style: none;
}

.btn.btn-success {
    color: white;
    background: #3b8f6b;
    border: 1px solid #3b8f6b;
}




li.list-group-item.button-group {
    background: none;
    border: none;
}


.btn.btn-success-light {
  background: #aad0ae;
  color: white !important;
}

button.navbar-toggler {
    position: absolute;
    top: 25px;
    right: 75px;
}

h2.category-heading {
    min-height: 29px;
}

h2.category-heading:hover, h2.category-heading.active {
    border-bottom: 5px solid #3b8f6b;
    color: #3b8f6b;
}
input.muted {
    background: #f2f2f2f2;
    border: none;
    padding: 10px;
    font-size: .75em;
    border-radius: 10em;
    width: 95%;
}
.hidden {
  display: none;
}

.col.border-none > .card.card-user {
    border: none;
}
.large-font {
    font-size: 2em;
}

.large-icon {
    width: 100%;
    height: 100%;
    color: #3b8f6b;
}
h2.hero {
    font-weight: 900;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/*
  Menu
*/
nav#filter-slide {
  position: fixed;
  top: 0;
  left: -25%;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#filter-slide > ul {
  display: block;
  margin: 40px;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#filter-slide > ul li {
  color: #dfe5eb;
  padding: 6px 0;
  cursor: pointer;
}
nav#filter-slide > ul li:hover {
  color: #59e9df;
}
nav#filter-slide > ul li:before {
  font-family: "ico";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #59e9df;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}
nav#filter-slide > ul li.sep {
  margin-top: 7px;
  padding-top: 14px;
  border-top: 1px solid #6b7b8d;
}

body.menu-active nav#filter-slide {
  left: 0px;
}

body.menu-active nav#filter-slide ul {
  left: 0px;
  opacity: 1;
}

.menu-tab {
    /* width: 90px; */
    /* height: 70px; */
    /* position: fixed; */
    z-index: 100;
    position: relative;
    /* top: 125px; */
    left: 0px;
    cursor: pointer;
    transition: all .6s ease-in-out;
}
.menu-tab div {
  width: 33px;
  height: 4px;
  background-color: #2d2d2d;
  display: block;
  margin: 5px 28px;
  transition: all .6s ease-in-out;
}
.menu-tab div:nth-child(1) {
  margin-top: 20px;
}

/*end of menu-tab*/
.menu-tab.active {
  z-index: 0;
}


.menu-hide {
    width: 200px;
    left: -200px;
    /* height: 100vh; */
    position: fixed;
    z-index: 10;
    padding: 50px;
    top: 9vh;
    transition: all .6s ease-in-out;
}
.menu-hide nav {
  /*end of ul*/
}
.menu-hide nav ul {
  /*end of li*/
}
.menu-hide nav ul li {
  height: 70px;
  list-style-type: none;
  text-align: center;
  line-height: 70px;
  transition: all .5s ease;
}
.menu-hide nav ul li:hover {
  background-color: #e74c3c;
  transition: all .5s ease;
}
.menu-hide nav ul li a {
  padding: 30px 25px;
  text-decoration: none;
  color: #f1f1f1;
  font-weight: 800;
}

/*end of menu-hide*/
.menu-hide.show {
  left: 0px;
  background-color: #aad0ae;
  transition: all .6s ease-in-out;
}

.menu-hide.show > a > h2 {
    color: white;
}
.menu-hide.show > a > h2:hover, .menu-hide.show > a > h2:active {
    color: black;
}

.menu-hide.show > a > h2.category-heading.active {
    border-bottom: 3px solid #4e4e4e;
    width: 100px;
}
a.btn.btn-success.btn-lg.express-checkout-default {
  white-space: normal;
}



#loading {
  display: inline-block;
  width: 20px;
  height: 18px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 10em;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

button#load {
    width: 100%;
    white-space: normal;
}


.express-checkout-status {
    background: #3b8f6b;
    position: absolute;
}

.tooltip-lg {
  font-size: 20px;
}
.feather-bold {
    font-weight: 900;
    width: 50px;
    height: auto;
    color: #575353;
}
.feather-bold:hover {
  color: #ff5a00;
}
h5.modal-title {
    font-weight: 800;
    font-size: 2rem;
}

.image {
  height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
}

.image.Low_Carb {
  border-bottom: 5px solid #fed39f;
}
.image.Everyday {
  border-bottom: 5px solid #aad0ae;
}d4c3df
.image.Performance {
  border-bottom: 5px solid #d86a6a;
}
.image.Plant_Based {
  border-bottom: 5px solid #d4c3df;
}
.image.Breakfast {
  border-bottom: 5px solid #f7e393;
}

.image.Low_Carb {
  border-bottom: 5px solid #fdc995;
}
.image {
  border-bottom: 5px solid #f1f1f1;
}
.radio {
  margin: 0.5rem;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.small, small {
  font-size: 12px;
}


.col.checkout-button {
    position: fixed;
    bottom: 0px;
    left: 85%;
}

label.pickup {
  position: absolute;
  top: 0px;
}

h5.price-label {
  color: #F48566;
  flex: .3;
  display: flex;
  justify-content: flex-end;
}

label.label_item.pickup:hover {
    background: url(https://res.cloudinary.com/themurphs/image/upload/v1555778203/shop-active_yadcmi.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

label.label_item.delivery:hover {
    background: url(https://res.cloudinary.com/themurphs/image/upload/v1555779995/delivery-truck-active_hsfssa.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}


p.desc {
    position: relative;
    top: 103%;
    left: 0px;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.muted {
  background:#f9f9f9;
}



.card.card-user.card-checkout {
    padding: 20px;
}

.fulfill-option {
  flex-direction: column;
  align-items: center;
}

/* .store-desc {
  position: absolute;
  bottom: 0px;
  padding-left: 35px;
} */

@media screen and (min-width: 600px) {
  .row.order-footer {
    position: fixed;
    bottom: 0px;
    right: 1%;
    z-index: 9999;
    width: 20%;
    background: white;
    text-align: center;
}
}
.centered.order-count {
      position: absolute !important;
      top: 23px !important;
      left: 50% !important;
      transform: translate(-50%, -50%) !important;
    }

@media screen and (max-width: 500px) {

  .ml-5-mobile {
    margin-left: 8.2rem!important;
  }

  .menu-filters-mobile {
    width: 100px !important;
    padding-right: 100px !important;
    position: relative;
    max-height: 20px;
  }

  .short-width {
    width: 90%;
  }

  .image {
    height: 150px;
  }
}


  .row::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .row::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  .row::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  .row::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


  h4.item-name {
    font-size: 14px;
  }

  input[name=promoCode]::placeholder {
  font-weight: 300;
  text-align: center;
}

.bg-everyday {
  background-color: #abd1ad !important;
}

.comSection--light {
    padding: 16px 24px;
    background-color: #f8f8f8;
    border-radius: 3px;
}

.comSection__header {
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: 700;
    font-size: .9em;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.text-smaller {
    font-size: .9em;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-wrap {
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
table.full {
    width: 100%;
    margin-bottom: 1em;
}
th {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: .8em;
    padding-top: 20px;
    border-bottom: 2px solid #00a0df;
}
th, td {
    text-align: left;
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
 
button.close > svg {
  height: 40px;
  width: 40px;
  color: white;
  
}

.close {
  opacity: 1;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
    width: 90%;
    margin-left: 15px;
}


/*New Sidebar*/


.navbar {
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: black;
    transition: all 0.3s;
}

#sidebar.active {
    margin-right: -250px;
}

#sidebar .sidebar-header {
    padding: 0px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: black;
    padding: 10px;
    text-align: center;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
  color: #fff;
    background: #acd2ae;

}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  background: #acd2ae;
}

a[data-toggle="collapse"] {
    position: relative;
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
  overflow-x: hidden;
    position: fixed;
    background: white;
    width: 14.25rem;
    bottom: 0;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ul.list-unstyled.CTAs {
    position: fixed;
    bottom: 0;
    background: white;
    width: 10%;
    right: 2%;
} */

#sidebar::not(active) ul.list-unstyled.CTAs {
    display: none;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

/*This is the breakpoint at which our sidebar collapses*/
@media (max-width: 950px) {
    #sidebar {
        margin-right: -250px;
        max-width: 175px;
        max-height: 175px;
    }
    #sidebar.active {
        margin-right: 0;
    }
    /* #sidebarCollapse span {
        display: none;
    } */
    #sidebar ul li a {
        font-size: 12px;
    }

    .h5, h5 {
        font-size: 12px;
    }
}


#sidebarCollapse span {
    left: -15px;
    position: relative;
    top: -20px;
    width: 10px;
    background: green;
    border-radius: 50%;
    border-right: 5px solid green;
    border-left: 5px solid green;
    
}

#sidebarCollapse .col {
    width: 100% !important;
}

.btn-clear {
    background: none !important;
}

@media (min-width: 1001px) and (max-width: 1200px) {
    .h5, h5 {
        font-size:14px;
    }
}

@media (min-width: 1200) {
  .img-fluid {
    max-height: 575px !important;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
    .h5, h5 {
        font-size: 12px !important;
    }

}


@media (max-width:750px) {

  select.form-control:not([size]):not([multiple]) {
    height: auto !important;
    width: 90%;
    background: white;
    margin: auto;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
}

  .full-width-mobile {
    width: 100%;
    }

    .label_item {
      height: 125px;
      width: 125px;
    }
  }


  .full-width {
    width: 100%;
    text-align: center;
  }


  .checkout-prompt-1 img {
    height: 25px;
  }
  h2.category-heading {
    font-size: 18px ;
    min-height: 0px;
  }
  .card-user .card-footer h5 {
    font-size: 14px;
  }

  #category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 40px;
    max-height: 0px;
    padding: 0px;
  }
  select.form-control:not([size]):not([multiple]) {
    height: auto !important;
    width: 90%;
    margin: 5px auto;
  }
  .form-control {
    font-size: 10px;
  }

  .small, small {
    font-size: 10px;
  }
}

.card-user .card-body+.card-footer {
    padding-top: 0;
    padding: 0px 10px 0px 10px !important;
}

@media (min-width: 1024px) {
  .checkout-prompt-1 img {
    height: 30px;
    width: 30px;
  }
}


@media (max-width: 1024px) {
  h2.category-heading {
    font-size: 12px;
    min-height: 0px;
}
}

@media (max-width: 400px) {
  #sidebar {
    min-width: 50%;
    max-width: 50%;
    
  } 
  #sidebar.active {
    margin-right: 15px;
  }
  .col-6.col-lg-4.col-md-6.filter {
    padding-right: 1px;
    padding-left: 1px;
  }
  
}



svg.feather.feather-plus-circle, svg.feather.feather-minus-circle {
  color: green;
}




ul.list-unstyled.components {
    position: fixed;
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
}


html, body {
  overflow-x: hidden;
  overflow-y: overlay;
}

li.list-group-item.d-flex.justify-content-between.align-items-center:hover {
    border-left: 5px solid #aad1ad;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
li.list-group-item.d-flex.justify-content-between.align-items-center {
    /* padding-left: 40px; */
    border-left: 5px solid white;
}

#toggleSections {
  background-color: #3b8e6b !important;
}
.centered.order-count {
    position: absolute !important;
    top: 23px !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

@media screen and (min-width: 450px) {
  .row.half-width {
    width: 60%;
    left: 23%;
    margin-bottom: 10px;
    position: relative;
  }
  .short-width {
    width: 83%;
  }
}

.dropdown-menu.show {
  border: 1px solid black;
}

.btn-circle {
  width: 26px;
    height: 26px;
    line-height: 25px;
    padding: 0;
    background: white;
    border-radius: 50%;
    color: black;
}

.btn-circle:hover {
  background: white !important;
  color: black !important;
}

.avatar.figure-img {
  height: 50px;
}
</style>

<link rel="stylesheet" href="/css/nutrition-label.css" />
<link href="https://fonts.googleapis.com/css?family=Oswald:300,400|Poppins&display=swap" rel="stylesheet">


<script>
    if (window.location.href.includes('menu'))
        document.write('<link rel="stylesheet" href="/css/shopping-buttons.css" />');
    </script>
<link rel="stylesheet" href="/css/shopping-buttons.css" />
</head>
@!include('Modals.auth')
@unless(disableModal)
@!include('Modals.cart')
@endunless
@if(user)
<div class="hidden" id="user-info" data-user="{{toJSON(user)}}"></div>
@endif
<!-- Modal -->

<body class="">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" lazyload />
  @!include('Modals.pickupLocations')
  <input type="hidden" id="cords" />
  <nav class="navbar navbar-expand-lg navbar-everyday bg-everyday navbar-fixed-top">
    <div class="container-fluid">


        <button class="btn btn-clear d-inline-block d-lg-none" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <i data-feather="menu"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/locations">Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/menu/all/LC,E">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="clearCart" href="#">Clear Cart</a>
            </ul>
        </div>
        @unless(auth.user)
        <li class="nav-item btn-rotate dropdown">
          <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="modal" data-target="#loginModal">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 32.191 32.191">
                <defs>
                  <style>
                    .cls-1 {
                      fill: white;
                    }
                  </style>
                </defs>

<g id="Group_22" data-name="Group 22" transform="translate(-1559.264 -68.227)">
<g id="Group_20" data-name="Group 20">
  <path id="Path_18" class="cls-1" data-name="Path 18" d="M1563.709,94.379l-.791-1.836,7.851-3.378.005-.352a8.026,8.026,0,1,1,9.2-.021l-.031.366,7.83,3.374-.791,1.837L1579.158,91a2.006,2.006,0,0,1-1.213-1.838v-.347a2.034,2.034,0,0,1,.879-1.66,6.025,6.025,0,1,0-6.93,0,2.041,2.041,0,0,1,.881,1.664v.345A2,2,0,0,1,1571.559,91Z" fill="#add4aa"/>
</g>
<g id="Group_21" data-name="Group 21">
  <path id="Path_19" class="cls-1" data-name="Path 19" d="M1575.359,100.418a16.1,16.1,0,1,1,16.1-16.1A16.113,16.113,0,0,1,1575.359,100.418Zm0-30.191a14.1,14.1,0,1,0,14.1,14.1A14.111,14.111,0,0,0,1575.359,70.227Z" fill="#add4aa"/>
</g>
</g>
</svg>                      <p>
              </p>
          </a>
        </li>
      @else
        <li class="nav-item btn-rotate dropdown">
          <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 32.191 32.191">
              <defs>
                <style>
                  .cls-1 {
                    fill: white;
                  }
                </style>
              </defs>

<g id="Group_22" data-name="Group 22" transform="translate(-1559.264 -68.227)">
<g id="Group_20" data-name="Group 20">
<path id="Path_18" class="cls-1" data-name="Path 18" d="M1563.709,94.379l-.791-1.836,7.851-3.378.005-.352a8.026,8.026,0,1,1,9.2-.021l-.031.366,7.83,3.374-.791,1.837L1579.158,91a2.006,2.006,0,0,1-1.213-1.838v-.347a2.034,2.034,0,0,1,.879-1.66,6.025,6.025,0,1,0-6.93,0,2.041,2.041,0,0,1,.881,1.664v.345A2,2,0,0,1,1571.559,91Z" fill="#add4aa"/>
</g>
<g id="Group_21" data-name="Group 21">
<path id="Path_19" class="cls-1" data-name="Path 19" d="M1575.359,100.418a16.1,16.1,0,1,1,16.1-16.1A16.113,16.113,0,0,1,1575.359,100.418Zm0-30.191a14.1,14.1,0,1,0,14.1,14.1A14.111,14.111,0,0,0,1575.359,70.227Z" fill="#add4aa"/>
</g>
</g>
</svg>

          </a>  
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/account">View Profile</a>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </li>
      @endunless
      <div class="tooltip-wrapper" data-title="Please add at least 5 items to cart">
          <button type="button" class="btn btn-clear my-0 d-block d-md-block d-lg-none" style="padding: 0px !important;padding-bottom:5px !important;" data-toggle="modal" data-target="#cartModal">
              <div style="position:relative;text-align:center;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 458.595 512">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: white;
                        }
                      </style>
                    </defs>
                    <g id="Group_1" data-name="Group 1" transform="translate(-1615.362 -63.964)">
                      <g id="Group_16" data-name="Group 16" transform="translate(1615.362 247.379)">
                        <g id="Group_15" data-name="Group 15">
                          <path id="Path_15" data-name="Path 15" class="cls-1" d="M2003.725,405.608H1685.592a70.226,70.226,0,0,1-69.385-81.068l38.752-247.517h379.4l38.75,247.5a70.223,70.223,0,0,1-69.383,81.082ZM1678.989,105.113,1643.96,328.88a42.153,42.153,0,0,0,41.632,48.638h318.132a42.094,42.094,0,0,0,41.615-48.638l-35.013-223.766Z" transform="translate(-1615.361 -77.023)"/>
                        </g>
                      </g>
                      <g id="Group_17" data-name="Group 17" transform="translate(1757.445 63.964)">
                        <path id="Path_16" data-name="Path 16" class="cls-1" d="M1653.567,211.775c0-70.549,31.152-119.72,59.117-119.72s59.115,49.172,59.115,119.72h28.091c0-82.88-38.3-147.811-87.206-147.811s-87.206,64.93-87.206,147.811h28.089Z" transform="translate(-1625.478 -63.964)"/>
                      </g>
                    </g>
                  </svg>
  
                  <div class="centered order-count"></div>
                  </div>  
          </button>
<!--Mobile cart button -->
<div class="tooltip-wrapper" data-title="Please add at least 5 items to cart">
    <button type="button" class="btn btn-clear my-0 checkout-button d-none d-md-none d-lg-block" style="padding: 0px !important;padding-bottom:5px !important;">
        <div style="position:relative;text-align:center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 458.595 512">
              <defs>
                <style>
                  .cls-1 {
                    fill: white;
                  }
                </style>
              </defs>
              <g id="Group_1" data-name="Group 1" transform="translate(-1615.362 -63.964)">
                <g id="Group_16" data-name="Group 16" transform="translate(1615.362 247.379)">
                  <g id="Group_15" data-name="Group 15">
                    <path id="Path_15" data-name="Path 15" class="cls-1" d="M2003.725,405.608H1685.592a70.226,70.226,0,0,1-69.385-81.068l38.752-247.517h379.4l38.75,247.5a70.223,70.223,0,0,1-69.383,81.082ZM1678.989,105.113,1643.96,328.88a42.153,42.153,0,0,0,41.632,48.638h318.132a42.094,42.094,0,0,0,41.615-48.638l-35.013-223.766Z" transform="translate(-1615.361 -77.023)"/>
                  </g>
                </g>
                <g id="Group_17" data-name="Group 17" transform="translate(1757.445 63.964)">
                  <path id="Path_16" data-name="Path 16" class="cls-1" d="M1653.567,211.775c0-70.549,31.152-119.72,59.117-119.72s59.115,49.172,59.115,119.72h28.091c0-82.88-38.3-147.811-87.206-147.811s-87.206,64.93-87.206,147.811h28.089Z" transform="translate(-1625.478 -63.964)"/>
                </g>
              </g>
            </svg>

            <div class="centered order-count"></div>
            </div>  
    </button>

          
      </div>




    </div>
</nav>
  <div class="wrapper ">
    
    <div id="content">



@!section('content')
    </div>

            <!-- Sidebar  -->
            @unless(disableModal)
            <nav id="sidebar">
            @else
            <nav id="sidebar" class="d-none d-md-flex d-lg-flex">
            @endunless
                <div class="sidebar-header">
                </div>
    
                <ul class="list-unstyled components">
                    <div class="row d-flex">
                      <div class="col-5 col-xl">
                            <input type="radio" class="radio-item fulfillment" value="pickup" name="fulfillment-radio"
                                id="pickupRadio" data-toggle="modal" data-target="#modal-pickup" checked="checked" />
                            <label class="label_item pickup cart-label" for="pickupRadio">
                            </label>
                      </div>
                      <div class="col col-xl">
                            <input type="radio" class="radio-item fulfillment" value="delivery" name="fulfillment-radio"
                                id="deliveryRadio" />
                            <label class="label_item delivery cart-label" for="deliveryRadio"></label>
                      </div>
                    </div>
                      <ul>
                          <li class="store-desc"></li>
                          <li class="delivery-desc"></li>
                          <li id="tax">Tax: <strong>$<span class="order-tax"></span></strong></li>
                          <li>Shipping Fee - <strong> $<span class="order-shipping">0</span></strong></li>
                          <li id="order-total">Total: <strong> $<span class="order-total">0</span></strong></li>
                          <li><small>*If you choose delivery, shipping costs will be calculated at checkout</small></li>
                        </ul>
                      <hr class="mb-2">
                      <section id="order-info"></section>
                      <div id="cart-rows">

                          <div class="row mb-5 cart-row-master pl-3">
            
                          </div>

                </ul>
    
                <ul class="list-unstyled CTAs">

                    <li>
                        <span class="cart-minimum">*Please add at least 5 items to cart to continue.</span>
                        <a class="btn btn-success checkout-button" style="font-size:20px;text-transform:uppercase" href="/checkout" disabled>Next</a>                    </li>
                </ul>  
            </nav>
  </div>


<script src="/admin/js/core/jquery.min.js"></script>
<script src="/admin/js/core/popper.min.js"></script>
<script src="/admin/js/core/bootstrap.min.js"></script>
<script async src="/admin/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->


<script async src="/admin/js/paper-dashboard.js?v=2.0.0" type="text/javascript"></script>
<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
<script src='https://npmcdn.com/@turf/turf@5.1.6/turf.min.js'></script>
<script src="/js/moment.min.js"></script>
<script src="/js/moment-weekdays.js"></script>

<script src="https://unpkg.com/feather-icons@4.19.0/dist/feather.min.js"></script>


<script type="text/javascript">
  $(document).ready(function () {

    let filters = []
    $('.filter-button.active').each(function(i, obj){
      filters.push($(this).text())
    })
    // for (let i = 0; i < $('.filter-button.active').length; i++) {
    //   filters.push($('.filter-button.active')[i].text())
    // }
      $('#dropdownMenuButtonFilters').find('.category-heading').html('Meal Type: ' + filters)

  });
</script>

<script>
  $('#alternate-address-bill').on('click',function(){
  $('#billing-info').toggleClass('hidden')
  toggleExpressEdit()
})
$('#alternate-pickup-day').on('click', function() {
  $('#pickupDaysList').toggleClass('hidden')
  toggleExpressEdit()


})
$('.shipping-form').closest('.card').hide()
$('#diff-shipping, #alternate-address-deliver').on('click', function(){
  $('.shipping-form').closest('.card').toggle()
  toggleExpressEdit()


})

function toggleExpressEdit(){
  var div = $('.express-checkout-edit')
  if (div.hasClass('hidden')) {
    div.removeClass('hidden').fadeIn() 
  } else {
    div.addClass('hidden').fadeOut()
  }

}



$.getScript('//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js', function(){
  toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-bottom-center",
  "preventDuplicates": true,
  "onclick": null,
  "showDuration": "5000",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "5000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
})

$.getScript('/js/pickup-flow.js')
function showNutritionFacts(){
  $('.nutritionFacts').show()
  $('.itemDescription').hide()
}
function showItemDescription() {
  $('.nutritionFacts').hide()
  $('.itemDescription').show()
}
</script>
<script src="/js/lodash.core.min.js"></script>

<script src="/js/update-cart.js"></script>
<script>
//Initializd our cart if one is not yet set
  if (!localStorage.cart) {
  localStorage.setItem('cart','[]')
  updateCartDiv()
  } else {
  var cart = JSON.parse(localStorage.cart)
  updateCartDiv()
  }



$('.checkout-button').on('click', function(){
  if ($(this).disabled) {
    alert('please add at least 5 items to the cart')
  }
  var cart = JSON.parse(localStorage.cart)
  var t = 0
  for (var i = 0; i < cart.length; i++) {
    t += cart[i].quantity
  }
  if (t < 5) {
    var d = 5 - t
    toastr["error"]("Please add at least "+d+" more items to cart!")
  } else {
    if(window.location.href.includes('checkout')) {
      $('html').removeClass('nav-open')
    } else {
      window.location.replace('/checkout')
    }
  }
})




$('.checkout-prompt-1').on('click', function(e){
  toastr["success"]("Item successfully added to cart!")
  $('.modal').modal('hide')

  e.preventDefault()
  e.stopPropagation()


  let card = $('#product_' + $(this).data('sku'))
  let sku = card.find('input[name="product[sku]"]').val()
  let name = card.find('input[name="product[name]"]').val()
  let image = card.find('input[name="product[image]"]').val()
  let price = card.find('input[name="product[price]"]').val()
  let variation = card.find('input[name="product[variation]"]').val()

  if (variation != "undefined") name = name + ' - ' + variation
  let cartItem = {sku: sku, name: name, img_url: image, price: price, variation: variation, quantity: 1}



  if (localStorage.getItem("custEngageCompleted") != 1) {
    $('#modal-initial-click').modal('toggle')
    
    localStorage.setItem("custEngageCompleted", 1);
    var c = JSON.parse(localStorage.cart)

    c.push(cartItem)
    localStorage.setItem('cart', JSON.stringify(c))
    updateCartDiv()
    return false
  }

  var cartItems = JSON.parse(localStorage.cart)
  cartItems.push(cartItem)

function checkDuplicateInObject(propertyName, inputArray) {
var seenDuplicate = false,
  testObject = {};

inputArray.map(function(item) {
var itemPropertyName = item[propertyName]; 
if (itemPropertyName in testObject) {
  testObject[itemPropertyName].quantity++;
  item.duplicate = true;
  seenDuplicate = true;
}
else {
  testObject[itemPropertyName] = item;
  delete item.duplicate;
}
});

return cartItems;
}
var cart = checkDuplicateInObject('name', cartItems)
var updatedCart = []
for (var i = 0; i < cart.length; i++) {
if (!cart[i].duplicate){
updatedCart.push(cart[i])
}

}
localStorage.setItem('cart', JSON.stringify(updatedCart))
updateCartDiv()
})


$(document).on('click', '#deliveryRadio', function(){
  $('.store-desc').html('&nbsp')

  $('.express-checkout-edit').show()
  $('.shipping-form').show()

  localStorage.fulfillment_method = 'delivery'

  localStorage.removeItem('pickup_location')
  localStorage.removeItem('pickupLocation')
  localStorage.removeItem('myStore')

  updateCartDiv()

  if (window.location.href.includes('checkout')) {
    $('#collapseTwo').addClass('show').fadeIn()
    $('#collapseOne').removeClass('show').fadeOut()
  }
})


// Bootstrap filtering logic taken from https://bootsnipp.com/snippets/r1Z7d
$(document).ready(function(){
  if (window.location.href.includes('checkout')){

    $('.mobile-button-wrapper').html('<a href="#" onclick="navbarToggle()" class="d-block d-sm-block d-lg-none d-md-none sidebar-toggle-helper"><i data-feather="chevron-left" class="navbar-toggler"></i></a> <a class="btn btn-success btn-lg d-md-none d-lg-none" id="createToken" disabled>Checkout</a>')
  }

  $('#secondaryCheckout').on('click', function(){
    $('#createToken').click()
    $(this).attr('disabled', 'disabled')
  })

  $.ajax({
    type: 'GET',
    url: '/api/stores/all',
    success: function(data) {
      if (data.features && data.features.length != 0) {
        $('body').append("<div id='stores' data-stores='"+JSON.stringify(data)+"'></div>")
      } else {
        toastr['warning']('Error loading store locations please refresh the page')
      }
    }
  })

  feather.replace({class: 'stroke-black', stroke: 'black'})

});

$('#pickup, #pickupDay').on('mouseover', function(){
  $(this).find('label').css('background-image', 'url("https://res.cloudinary.com/themurphs/image/upload/v1555778203/shop-active_yadcmi.png")')
})
$('#pickup, #pickupDay').on('mouseout', function(){
  $(this).css('background-color', 'white')
  $(this).find('h5').css('color', '#4e4e4e')
  $('.pickup-icon').attr('src', '/images/pickup-icon-inactive.png')
  $(this).find('.modal-footing').css('color', '#363636')
})

$('#delivery, #deliveryDay').on('mouseover', function(){
  $(this).css('background-color', '#aad0ae')
  $(this).find('h5').css('color', 'white')

  $('.delivery-icon').attr('src', '/images/delivery-icon-active.png')
  $(this).find('.modal-footing').css('color', 'white')
})
$('#delivery, #deliveryDay').on('mouseout', function(){
  $(this).find('h5').css('color', '#4e4e4e')

  $(this).css('background-color', 'white')
  $('.delivery-icon').attr('src', '/images/delivery-icon-inactive.png')
  $(this).find('.modal-footing').css('color', '#363636')
})
function capitalize(str){return str.slice(0,1).toUpperCase() + str.slice(1)}


var cart = JSON.parse(localStorage.cart)
var l = $('ul.list-group.mb-3')
var t = 0

for (var i = 0; i < cart.length; i++) {
    t += cart[i].quantity

  var total = cart[i].price
  total = total * cart[i].quantity
  $('.total-quantity').html(t)
  l.append('<li class="list-group-item d-flex justify-content-between lh-condensed">\
          <div>\
            <h6 class="my-0">'+cart[i].name+'</h6>\
            <small class="text-muted">Brief description</small>\
          </div>\
          <span class="text-muted">$'+total+'</span>\
        </li>')
      }
      document.addEventListener("DOMContentLoaded", function() {
  var lazyloadImages;    

  if ("IntersectionObserver" in window) {
    lazyloadImages = document.querySelectorAll(".lazy");
    var imageObserver = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          var image = entry.target;
          image.src = image.dataset.src;
          image.classList.remove("lazy");
          imageObserver.unobserve(image);
        }
      });
    });

    lazyloadImages.forEach(function(image) {
      imageObserver.observe(image);
    });
  } else {  
    var lazyloadThrottleTimeout;
    lazyloadImages = document.querySelectorAll(".lazy");
    
    function lazyload () {
      if(lazyloadThrottleTimeout) {
        clearTimeout(lazyloadThrottleTimeout);
      }    

      lazyloadThrottleTimeout = setTimeout(function() {
        var scrollTop = window.pageYOffset;
        lazyloadImages.forEach(function(img) {
            if(img.offsetTop < (window.innerHeight + scrollTop)) {
              img.src = img.dataset.src;
              img.classList.remove('lazy');
            }
        });
        if(lazyloadImages.length == 0) { 
          document.removeEventListener("scroll", lazyload);
          window.removeEventListener("resize", lazyload);
          window.removeEventListener("orientationChange", lazyload);
        }
      }, 20);
    }

    document.addEventListener("scroll", lazyload);
    window.addEventListener("resize", lazyload);
    window.addEventListener("orientationChange", lazyload);
  }
})


// Only load these scripts if we are on the checkout page.
  $.getScript('/js/checkout-flow.js')
  $.getScript('/js/registration-form.js')



    $('input[name="shipping[zip]"], input[name="billing[zip]"]').focusout(function(){
      calcShipping()
    })
    function hoverCart(element) {
      element.setAttribute('src', '/images/shopping-cart-add-button-inactive.png');
    }

    function unhoverCart(element) {
      element.setAttribute('src', '/images/shopping-cart-add-button-active.png');
    }

    $('#back-to-account').on('click', function(){
      window.location.href = '/account'
    })

$('#clearCart').on('click', function(){
  localStorage.cart = '[]'
  updateCartDiv()
})
// $('.menu-tab').on('click',function(){
//     $(this).toggleClass('active')
//     $('.menu-hide').toggleClass('show')
    
//   })




$(document).ready(function() {
  if (!$('.list-group-item.clickable.active')) {
    $('.list-group-item.clickable')[0].click()
  }

  calcShipping()
  $('.express-checkout-default').on('click', function() {
    var $this = $(this);
    var loadingText = 'Processing.. <div id="loading"></div>';
    if ($(this).html() !== loadingText) {
      $this.data('original-text', $(this).html());
      $this.html(loadingText);
    }

  });

  if (localStorage.fulfillment_method === 'pickup') {
    $('.store-desc').html('<strong>Pickup Location</strong> <br />' + JSON.parse(localStorage.myStore).name)
    $('.delivery-desc').html('')
    $('#pickupRadio').attr('checked', 'checked')

    $('.order-shipping').html('0')

    } else {
      $('#deliveryRadio').attr('checked', 'checked')
      $('#pickupRadio').removeAttr('checked')
      localStorage.fulfillment_method = 'delivery'
      localStorage.removeItem('pickup_location')
      localStorage.removeItem('pickupLocation')
      localStorage.removeItem('myStore')
      $('.store-desc').html('&nbsp')

      $('.delivery-desc').html('Select delivery address at checkout')

  }
})

document.addEventListener('click', function(event) {
  if (!event.target.matches('#password_reset_button')) return

  event.preventDefault()
  var form = document.getElementById("password-reset")
  console.log(form.serialize)
  $.ajax({
    type: 'POST',
    url: '/password/reset',
    data: JSON.stringify(form),
    success: function(res){
      toastr['success'](res.status ? res.status : '')
    }

  })
  form.submit()
})

//Prevent select box from opening product card modal.
$('.no-modal').on('click', function(e){
  e.stopPropagation()
  $('.dropright').removeClass('show')
  // $('.no-modal').hide()
  let modal = $('.no-modal')
  $(this).closest('.dropdown').dropdown('toggle')
 })

// if('serviceWorker' in navigator) {
//       navigator.serviceWorker
//                .register('/sw.js')
//                .then(function() { console.log("Service Worker Registered"); });
//     }


if ($('#firstName').val != "" && $('#lastName').val != "" && $('#email') !="" ) {
  $('#createToken').removeAttr('disabled')
} else {
  $('#createToken').attr('disabled', 'disabled')

}


function navbarToggle() {
  $('.navbar-toggle').click()
}

$('#headingFive').on('click', function(){
  $('#toggleSections').attr('disabled', 'disabled')
  $('#toggleSections').html('Checkout')
})


$('.card-header').on('click', function(){
  var id = $(this).attr('id')
  $('#'+id).addClass('active')
  $('.card-header:not(#'+id+')').removeClass('active')
})
$('#toggleSections').on('click', function(){
    if ($('#collapseOne').hasClass('show')) {
      $('#headingOne').removeClass('active')
      $('#headingTwo').addClass('active')
      $('#collapseOne').removeClass('show')
      $('#collapseTwo').addClass('show')


    } else if ($('#collapseTwo').hasClass('show')) {
      if ($('#firstName').val() != '' && $('#lastName').val() != '' && $('#email-bill').val() != '' && $('#password-bill').val() != '' && $('#password_confirmation').val() != '') {
        $('#collapseTwo').removeClass('show')
        $('#collapseThree').addClass('show')
        $('#headingTwo').removeClass('active')
      $('#headingThree').addClass('active')
        $('#headingTwo').css('pointer-events', 'visible')
        $('#headingThree').css('pointer-events', 'visible')
        $('#feedback').html('')
      } else {
        var feedback = '<div class="alert alert-warning" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Please make sure all fields are filled out.</div>'
          $('#feedback').html(feedback)
      }

    } else if ($('#collapseThree').hasClass('show')) {
      if ($('#firstName').val() != '' && $('#lastName').val() != '' && $('#email-bill').val() != '' && $('#password-bill').val() != '' && $('#password_confirmation').val() != '' && $('#street-bill').val() != '' && $('#city-bill').val() != '' && $('#state-bill').val() != '' && $('#zip-bill').val() != '') {
        $('#collapseThree').removeClass('show')
        $('#collapseFour').addClass('show')
        $('#headingThree').removeClass('active')
      $('#headingFour').addClass('active')
        $('#headingFour').css('pointer-events', 'visible')
        $('#feedback').html('')
      } else {
        var feedback = '<div class="alert alert-warning" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Please make sure all fields are filled out.</div>'
          $('#feedback').html(feedback)
      }
    } else if ($('#collapseFour').hasClass('show')) {
      $('#collapseFour').removeClass('show')
      $('#collapseFive').addClass('show')
      $('#headingFour').removeClass('active')
      $('#headingFive').addClass('active')
      // $(this).attr('disabled', 'disabled')
      $(this).html('checkout')
      $('#headingFive').css('pointer-events', 'visible')


    } else if ($('#collapseFive').hasClass('show')) {

    $(this).html('Processing order... <div id="loading"></div>')
    $(this).attr('disabled', 'disabled')
    let order = buildOrder()
      if (order.error){
        var feedback = '<div class="alert alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + order.error + '</div>'
        $('#feedback').html(feedback)
        $('#toggleSections').removeAttr('disabled')
        return
      }
      try {
        stripe.createToken(card).then(function (result) {
          order.billing.paymentId = result.token.id
          processOrder({ type: 'existing' }, result.token.id, 'initial', order)
        })    
      } catch(err) {
        var feedback = '<div class="alert alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>There was an error processing your payment.  Please try again</div>'
        $('#feedback').html(feedback)
      }

    }
    
  })

  $('#headingFive').on('click', function(){
    $('#toggleSections').removeAttr('disabled')
  })

  $('document').on('ready', function(){
    if ($('#orderIDtext').text().includes('undefined')) {
    window.location.reload()
  }


    if (localStorage.fulfillment_method === 'pickup') {
    $('.store-desc').html('<strong>Pickup Location</strong> <br />' + JSON.parse(localStorage.myStore).name)
    $('.delivery-desc').html('')
    $('#pickupRadio').attr('checked', 'checked')

    $('.order-shipping').html('0')

    } else {
      console.log('delivery')
      $('#deliveryRadio').attr('checked', 'checked')
      $('#pickupRadio').removeAttr('checked')
      localStorage.fulfillment_method = 'delivery'
      localStorage.removeItem('pickup_location')
      localStorage.removeItem('pickupLocation')
      localStorage.removeItem('myStore')
      $('.store-desc').html('&nbsp')

      $('.delivery-desc').html('Select delivery address at checkout')

  }


  })
  $('#clearCart').on('click', function(){
  localStorage.cart = "[]"
  updateCartDiv()
})

if (window.location.href.includes('checkout')) {
  $('.nav-link').removeAttr('active')
}

$('.card-header').on('click', function(){
  let id = $(this).attr('id')
  id = id.match(/[A-Z]*[^A-Z]+/g)
  let me = 'collapse' + id[1]
  $('.collapse.show').removeClass('show')
})

/**
* 
* Function to calculate shipping charges based on zip code
*/

function calcShipping() {
  let store = {
    "type": "Feature",
    "properties": {},
    "geometry": {
      "type": "Point",
      "coordinates": [-85.317172, 35.069111]
    }
  }



  if (localStorage.userAddr) {
    $('#address-input').text(localStorage.userAddr.street)
  }

  if ($('#diff-shipping').is(':checked')) {
    var st = $('input[name="shipping[line1]"]').val()
    var city = $('input[name="shipping[city]"]').val()
    var state = $('select#state-bill').val()
    var post = $('input[name="shipping[zip]"]').val()
  } else {
    var st = $('input[name="billing[line1]"]').val()
    var city = $('input[name="billing[city]"]').val()
    var state = $('select#state-ship').val()
    var post = $('input[name="billing[zip]"]').val()
  }

  let search = encodeURI(st + ' ' + city + ' ' + state + ' ' + post)


  var userSearch = "https://api.mapbox.com/geocoding/v5/mapbox.places/" + search + ".json?access_token=pk.eyJ1IjoibWF0dGZpY2tlIiwiYSI6ImNqNnM2YmFoNzAwcTMzM214NTB1NHdwbnoifQ.Or19S7KmYPHW8YjRz82v6g&cachebuster=1548866594131&autocomplete=true"
  $.get(userSearch, function (data) {
    var userCords = data.features[0].geometry.coordinates
    var query = "https://api.mapbox.com/directions/v5/mapbox/driving/" + encodeURI(store.geometry.coordinates) + "%3B" + encodeURI(userCords) + ".json?access_token=pk.eyJ1IjoiZW54byIsImEiOiJjanI5Nnc5aTUwZWo2NDlud2F6MnJwZ3A5In0.WhklmDXw40rTZ2OwDGS2LA"
    $.get(query, function (distance) {
      var miles = distance.routes[0].distance * 0.000621371192
      miles = miles.toFixed(0)
      var total = Number($('.order-total').data('total'))

      if (total >= 100 || $('#pickupRadio').is(':checked')) {
        localStorage.shippingCode = 'freeshipping'
      } else {

        if (miles >= 0 && miles < 2) {
          localStorage.shippingCode = 'shipping_tier1'
          total += 5
          $('.order-total').html(total)
          $('.order-shipping').html('5.00')
        }

        if (miles > 2 && miles <= 10) {
          localStorage.shippingCode = 'shipping_tier2'
          total += 8
          $('.order-total').html(total)
          $('.order-shipping').html('8.00')
        }


        if (miles > 10) {
          localStorage.shippingCode = 'shipping_tier3'
          total += 12
          $('.order-total').html(total)
          $('.order-shipping').html('12.00')
        }

      }

      localStorage.deliveryDistance = miles
    })
  })
  if ($('#pickupRadio').is(':checked')) {
    $('.order-shipping').html('0')
  }
}


$('.dropdown-item').on('click', function(){$('.dropdown-menu').removeClass('show')})

function checkStepCompletion(formName){

var complete
    // Iterate over each input with name ending in _a
    $('input[name$="_'+formName+'"]').each( function() {

    // Get the base name by removing _a
    var name = $(this).attr('name').replace(/_basic$/, '');

    // Compare _a to _b
    if( $('input[name="'+name+'_'+formName+'"]').val() == "") {
        alert(name+" field does not match!");   
        return complete = false
    } else {
      complete = true
    }
    });

  return complete;
}

var stepOneForm = $('#firstName, #lastName, #email-bill, #phone, #password-bill, #password_confirmation')
var stepOneComplete
for (var i = 0; i < stepOneForm.length; i++){
  if (stepOneForm.value === "") {
    stepOneComplete = false;
    break;
  } else {
    stepOneComplete = true;
  }
}

$('.category-button').on('click', function(){
  var category = $(this).data('category')
  var filter = $('.filter-button.active').data('filter')
  if (filter) {
    window.location.href = '/menu/' + category + '/' + filter
  } else {
    window.location.href = '/menu/' + category + '/all'
  }
  toastr['success'](category)
  
})

$('.filter-button').on('click', function(){
  var filter = $(this).data('filter')
  var catHeading = $('.category-heading.active')
  var category = catHeading.closest('.category-button').data('category') ? catHeading.closest('.category-button').data('category') : 'all'
  
  window.location.href = '/menu/'+ category +'/' + filter
})

</script>

<!-- Handle sanitation of inputs and formatting -->
<script src="/js/form-handler.js"></script>
</body>
</html>