<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/admin/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/admin/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Vibrant Meals
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />-->
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/admin/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/admin/css/paper-dashboard.user.css?v=2.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link rel="stylesheet" href="/css/toastr.min.css">
  <style>


#toast-container.toast-top-right>div, #toast-container.toast-top-center>div {
  width: 380px;
  min-height: 86px;
  right: -10px;
  background-color: #aad0ad;
  color: white;
  font-size: 1.5em; 
  bottom: 1000px;
  position: absolute;
}


.cart-icon {
    width:70px;
}
span.quantity {
    position: relative;
    font-weight: bold;
    padding: 5px;
    left: 25%;
}

i.nc-icon.nc-simple-add, i.nc-icon.nc-simple-remove, i.nc-icon.nc-simple-delete {
  background: #aad0ad;
    border-radius: 50%;
    color: white;
  }

h2.category-heading {
  font-size: 1.5em;
  color: #4e4e4e;
}
a:hover, a:focus {
  text-decoration: none;
  color: black
}

h2.category-heading:focus, h2.category-heading:hover {
  color: black;
}

.cart-icon-label.pickup.active, .cart-icon-label.delivery.active {
  background: gainsboro;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: 900;
}
.list-item {
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 22px;
letter-spacing: 1.83333px;
text-transform: uppercase;

color: #444749;

mix-blend-mode: normal;
opacity: 0.87;
}
.list-item.active {
    background: #aad0ae;
    color: white;
}
body {
  color: #4e4e4e
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #aad0ad;
    border-color: #aad0ad;
}
li.list-group-item.d-flex.justify-content-between.align-items-center {
    font-size: 1.5em;
    border: none;
}
.badge-secondary {
    color: #fff;
    background-color: #aad0ac;
}

.fulfillment-option {
  padding-right: 0!important;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.fulfillment-option.active {
  text-align: center;
    background: #f2f2f2;
    border-radius: 10px;
    color: black;
    padding: 5px;
}
.col.store-hours.is-pulled-right {
    font-size: 1.5em;
    font-weight: 600;

    display: flex;
    justify-content: flex-end;
}


.col.date-list-item {
    font-size: 1.5em;
    font-weight: 900;
}
li.list-group-item.button-group {
    text-align: center;
}

.navbar .navbar-collapse .nav-item a {
    font-size: 16px;
    font-weight: 800;
}
.card-title {
    margin-bottom: .75rem;
    font-size: 18px;
}

.form-control {
  font-size: 18px;
}


/* styles below this line are not critical to above the fold */
h5.heading {
    font-size: 36px;
    font-weight: 900;
    margin-top: 20PX;
    
}
a#delivery, a#pickup {
    text-align: center;
    text-transform: uppercase;
}

.card-stats .card-footer .stats {
    display: flex;
    color: #9A9A9A;
    align-items: center;
    justify-content: space-between;
}
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
  box-sizing: border-box;

  height: 40px;
  width: 100%;
  color: green;

  padding: 10px 12px;

  border: 1px solid #aad0ad;
  font-size:24px !important;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

label {
    font-size: 18px;
    color: black;
}


#category-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50px;
    max-height: 100px;
    background-color: #ffffff;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #c4c4c4;
    -webkit-box-shadow: 0 0 5px #c4c4c4;
    box-shadow: 0 0 5px #c4c4c4;
}
#category-container .img-container {
  width: 100px;
  flex: 1;
  cursor: pointer;
  align-content: center;
  text-align: center;
  border-bottom: 3px solid white;
  border-radius: 5px;
}
#category-container .img-container:hover > h2 {
  border-radius: 0px;
  text-decoration: underline;
}
#category-container .img-container .icon {
  position: relative;
  width: 27px;
  /* margin-top: 15%; */
}
#category-container h2 {
  font-weight: 300;
}

li {
  list-style: none;
}

.btn.btn-success {
    color: white !important;
    background: #3b8f6b;
}

@media only screen 
and (min-device-width : 350px) 
and (max-device-width : 1024px)  {
  .toast.toast-success {
    top: 705px !important;
    position: absolute;
  }
  .card-footer {
    padding: 20px !important;
  }
}

li.list-group-item.button-group {
    background: none;
    border: none;
}

.btn.btn-success-light {
  background: #aad0ae;
  color: white !important;
}
</style>
</head>
@!include('Modals.auth')

@if(user)
<div class="hidden" id="user-info" data-user="{{toJSON(user)}}"></div>
@endif
<!-- Modal -->

<body class="">
        @!include('Modals.pickupLocations')

        <input type="hidden" id="cords" />

  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">

          <h2 class="cart-heading">
              Cart
          </h2>

      </div>
      <div class="sidebar-wrapper">
        <ul class="nav" id="cart">

            <div class="row mb-5 pl-3 order-info">
                <div class="col d-flex justify-content-start">
                    <div class="col-12 pr-0 fulfillment-option">
                        <a id="pickupRadio" data-toggle="modal" data-target="#modal-pickup">
                            <img class="cart-icon pt-2" src="/images/pickup-icon.png" />
                        </a>
                        <div class="cart-icon-label pickup"></div>

                    </div><br />
                </div>
                <div class="col d-flex justify-content-start">
                    <div class="col pr-0 fulfillment-option">
                        <a id="deliveryRadio" href="#">
                            <img class="cart-icon pt-2" src="/images/delivery-icon.png" />
                        </a>
                        <div class="cart-icon-label delivery"></div>

                    </div>
                </div>
                <section id="order-info"></section>
            </div>

            <div id="cart-rows">

              <div class="row mb-5 cart-row-master pl-3">

              </div>
              <div class="row">
                <div class="col-3"></div>
                <div class="col">
                  <div class="tooltip-wrapper"  data-toggle="tooltip" data-placement="top" title="Please add at least 5 items to cart to continue">
                    <a class="checkout-button btn btn-lg btn-pill btn-success" disabled>Next</a>
                  </div>
                </div>
              </div>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      @!include('layout.user.top-nav')

      <!-- <div class="panel-header panel-header-lg">
  
  <canvas id="bigDashboardChart"></canvas>
  
  
</div> -->
@!section('content')

<script src="/admin/js/core/jquery.min.js"></script>
<script src="/admin/js/core/popper.min.js"></script>
<script src="/admin/js/core/bootstrap.min.js"></script>
<script src="/admin/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->

<!-- Chart JS -->
<!--  Notifications Plugin    -->
<!--<script src="/admin/js/plugins/bootstrap-notify.js"></script>-->
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/admin/js/paper-dashboard.js?v=2.0.0" type="text/javascript"></script>
<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script async src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
<script async src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
<script src="/js/moment.min.js"></script>

<script>
    var stores = {
type: "FeatureCollection",
features: [
{
  type: "Feature",
  geometry: {
    type: "Point",
    coordinates: ["-85.3171557", "35.0691112"]
  },
  properties: {
    phoneFormatted: "(423) 555-5555",
    phone: "4235555555",
    address: "601 Cherokee Blvd",
    postalCode: 37405,
    state: "TN",
    city: "Chattanooga",
    closing: "20:00",
    desc: "Vibrant Meals Kitchen",
    storeId: 1
  }
},
{
  type: "Feature",
  geometry: {
    type: "Point",
    coordinates: ["-85.3106732", "35.0641196"]
  },
  properties: {
    phoneFormatted: "(423) 555-5555",
    phone: "4235555555",
    address: "125 Cherokee Blvd",
    postalCode: 37405,
    state: "TN",
    city: "Chattanooga",
    closing: "20:00",
    desc: "Chattanooga Functional Fitness",
    storeId: 2
  }
},
{
  type: "Feature",
  geometry: {
    type: "Point",
    coordinates: ["-85.31406600000003", "35.0389277"]
  },
  properties: {
    phoneFormatted: "(423) 555-5555",
    phone: "4235555555",
    address: "525 West Main Street",
    postalCode: 37402,
    state: "TN",
    city: "Chattanooga",
    closing: "20:00",
    desc: "Kyle House Fitness",
    storeId: 3
  }
},
{
  type: "Feature",
  geometry: {
    type: "Point",
    coordinates: ["-84.76723400000003", "35.134262"]
  },
  properties: {
    phoneFormatted: "(423) 555-5555",
    phone: "4235555555",
    address: "5806 Waterlevel Highway",
    postalCode: 37323,
    state: "TN",
    city: "Cleveland",
    closing: "20:00",
    desc: "Crossfit Anistemi",
    storeId: 4
  }
},
{
  type: "Feature",
  geometry: {
    type: "Point",
    coordinates: ["-84.8766215", "35.157391"]
  },
  properties: {
    phoneFormatted: "(423) 555-5555",
    phone: "4235555555",
    address: "282 Church St SE",
    postalCode: 37311,
    state: "TN",
    city: "Cleveland",
    closing: "20:00",
    desc: "Body By Hannah",
    storeId: 5
  }
}
]
};
$.getScript('//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js', function(){
  toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": true,
  "positionClass": "toast-top-right",
  "preventDuplicates": true,
  "onclick": null,
  "showDuration": "30000000000",
  "hideDuration": "1000",
  "timeOut": "0",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
})

function getLocation() {
if (navigator.geolocation) {
navigator.geolocation.getCurrentPosition(showPosition);
} else {
console.log('error')
x.innerHTML = "Geolocation is not supported by this browser.";
}
}
function showPosition(position) {
var cord = [];
cord.push(position.coords.longitude);
cord.push(position.coords.latitude);
$("#cords").val(cord);
}

getLocation()
  $.getScript('/js/pickup-flow.js')


</script>
<script src="/js/update-cart.js"></script>
<script>
//Initializd our cart if one is not yet set
  if (!localStorage.cart) {
  localStorage.setItem('cart','[]')
  updateCartDiv()
  } else {
  var cart = JSON.parse(localStorage.cart)
  updateCartDiv()
  }



$('.checkout-button').on('click', function(){
  var cart = JSON.parse(localStorage.cart)
  var t = 0
  for (var i = 0; i < cart.length; i++) {
    t += cart[i].quantity
  }
  if (t < 5) {
    var d = 5 - t
    toastr["error"]("Please add at least "+d+" more items to cart!")
  } else {
    if(window.location.href.includes('checkout')) {
      $('html').removeClass('nav-open')
    } else {
      window.location.replace('/checkout')
    }
  }
})

$('.checkout-prompt-1').on('click', function(e){
  toastr["success"]("Item successfully added to cart!")
  $('.modal').modal('hide')

  e.preventDefault()
  e.stopPropagation()
  if (localStorage.getItem("custEngageCompleted") != 1) {
    $('#modal-initial-click').modal('toggle')
    
    localStorage.setItem("custEngageCompleted", 1);
    var c = JSON.parse(localStorage.cart)
    var item = $(this).data()    
    c.push(item)
    localStorage.setItem('cart', JSON.stringify(c))
    updateCartDiv()
    return false
  }
var item = $(this).data()

// var item = $(this).data()
var cartItems = JSON.parse(localStorage.cart)
cartItems.push(item)

function checkDuplicateInObject(propertyName, inputArray) {
var seenDuplicate = false,
  testObject = {};

inputArray.map(function(item) {
var itemPropertyName = item[propertyName]; 
if (itemPropertyName in testObject) {
  testObject[itemPropertyName].quantity++;
  item.duplicate = true;
  seenDuplicate = true;
}
else {
  testObject[itemPropertyName] = item;
  delete item.duplicate;
}
});

return cartItems;
}
var cart = checkDuplicateInObject('id', cartItems)
var updatedCart = []
for (var i = 0; i < cart.length; i++) {
if (!cart[i].duplicate){
updatedCart.push(cart[i])
}

}
localStorage.setItem('cart', JSON.stringify(updatedCart))
updateCartDiv()
})


$(document).on('click', 'a#deliveryRadio', function(){
  $('#pickupRadio').closest('.fulfillment-option').removeClass('active')
    $('.cart-icon-label.pickup').html('')

    $('#deliveryRadio').closest('.fulfillment-option').addClass('active')
  $('.cart-icon-label.delivery').html('Choose address at checkout')

  localStorage.fulfillment_method = 'delivery'
  localStorage.removeItem('pickup_location')
  localStorage.removeItem('pickupLocation')
  localStorage.removeItem('myStore')
  updateCartDiv()
})

// Bootstrap filtering logic taken from https://bootsnipp.com/snippets/r1Z7d
$(document).ready(function(){
  feather.replace()
  if (window.location.href.includes('checkout')) {
    $('html').addClass('nav-open')
  }


$(".filter-button").click(function(){
    var value = $(this).attr('data-filter');
    
    if(value == "all")
    {
        $('.filter').show('1000');
    }
    else
    {
        $(".filter").not('.'+value).hide('3000');
        $('.filter').filter('.'+value).show('3000'); 
    }
});



});
// $(document).find('.row.categories-row .col > a').on('click', function(){
//   // $(".card.card-user[data-category='"+this.className+"']").show()

//   $(".card.card-user[data-category*='"+this.className+"']").show()
// })

// $('.card.card-user, .card.card-stats').on('click', function(){
//   var meta = $(this).data('meta')
//   delete meta['description']
//   delete meta['name']
//   delete meta['category']

//   const keys = Object.keys(meta)
//   $(this).find('.modal-body').find('.row').html('')
//     for (const key of keys) {
//       $(this).find('.modal-body').find('.row').append('<div class="col pb-5"><h5><strong>'+capitalize(key)+' </strong><br /> ' + meta[key] + '</h5></div>')

//     }

//   $('#'+$(this).data('sku')).modal('toggle')
// })
$('#pickup, #pickupDay').on('mouseover', function(){
  $(this).css('background-color', '#aad0ae')
  $('.pickup-icon').attr('src', '/images/pickup-icon-active.png')
  $(this).find('.modal-footing').css('color', 'white')
})
$('#pickup, #pickupDay').on('mouseout', function(){
  $(this).css('background-color', 'white')
  $('.pickup-icon').attr('src', '/images/pickup-icon-inactive.png')
  $(this).find('.modal-footing').css('color', '#363636')
})

$('#delivery, #deliveryDay').on('mouseover', function(){
  $(this).css('background-color', '#aad0ae')
  $('.delivery-icon').attr('src', '/images/delivery-icon-active.png')
  $(this).find('.modal-footing').css('color', 'white')
})
$('#delivery, #deliveryDay').on('mouseout', function(){
  $(this).css('background-color', 'white')
  $('.delivery-icon').attr('src', '/images/delivery-icon-inactive.png')
  $(this).find('.modal-footing').css('color', '#363636')
})
function capitalize(str){return str.slice(0,1).toUpperCase() + str.slice(1)}


var cart = JSON.parse(localStorage.cart)
var l = $('ul.list-group.mb-3')
var t = 0

for (var i = 0; i < cart.length; i++) {
    t += cart[i].quantity

  var total = cart[i].price.toFixed(1)
  total = total * cart[i].quantity
  $('.total-quantity').html(t)
  l.append('<li class="list-group-item d-flex justify-content-between lh-condensed">\
          <div>\
            <h6 class="my-0">'+cart[i].name+'</h6>\
            <small class="text-muted">Brief description</small>\
          </div>\
          <span class="text-muted">$'+total+'</span>\
        </li>')
      }
      document.addEventListener("DOMContentLoaded", function() {
  var lazyloadImages;    

  if ("IntersectionObserver" in window) {
    lazyloadImages = document.querySelectorAll(".lazy");
    var imageObserver = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          var image = entry.target;
          image.src = image.dataset.src;
          image.classList.remove("lazy");
          imageObserver.unobserve(image);
        }
      });
    });

    lazyloadImages.forEach(function(image) {
      imageObserver.observe(image);
    });
  } else {  
    var lazyloadThrottleTimeout;
    lazyloadImages = document.querySelectorAll(".lazy");
    
    function lazyload () {
      if(lazyloadThrottleTimeout) {
        clearTimeout(lazyloadThrottleTimeout);
      }    

      lazyloadThrottleTimeout = setTimeout(function() {
        var scrollTop = window.pageYOffset;
        lazyloadImages.forEach(function(img) {
            if(img.offsetTop < (window.innerHeight + scrollTop)) {
              img.src = img.dataset.src;
              img.classList.remove('lazy');
            }
        });
        if(lazyloadImages.length == 0) { 
          document.removeEventListener("scroll", lazyload);
          window.removeEventListener("resize", lazyload);
          window.removeEventListener("orientationChange", lazyload);
        }
      }, 20);
    }

    document.addEventListener("scroll", lazyload);
    window.addEventListener("resize", lazyload);
    window.addEventListener("orientationChange", lazyload);
  }
})


// Only load these scripts if we are on the checkout page.
if (window.location.href.includes('checkout')) {
  $.getScript('/js/checkout-flow.js')
  $.getScript('/js/registration-form.js')

}




</script>


<script>
    $('input[name="zip-ship"], input[name="zip-bill"]').focusout(function(){

      var store = {
        "type": "Feature",
        "properties": {},
        "geometry": {
          "type": "Point",
          "coordinates": [-85.317172,35.069111]
        }
      }
  
      
  
      if (localStorage.userAddr) {
        $('#address-input').text(localStorage.userAddr.street)
      }
  
      // If only billing zip is entered then use this for delivery fee calculation.  Else, use the shipping zip.
      var st = $('input[name="street-ship"]').val() ? $('input[name="street-ship"]').val() : $('input[name="street-bill"]').val()
      var city = $('input[name="city-ship"]').val() ? $('input[name="city-ship"]').val() : $('input[name="city-bill"]').val()
      var state = $('input[name="state-ship"]').val() ? $('input[name="state-ship"]').val() : $('input[name="state-bill"]').val()
      var post = $('input[name="zip-ship"]').val() ? $('input[name="zip-ship"]').val() : $('input[name="zip-bill"]').val()

    
      var search = encodeURI(st + ' ' + city + ' ' + state + ' ' + post)
  
      var userAddr = {
        street: st,
        city: city,
        state: state,
        zip: post
      }
      localStorage.userAddr = JSON.stringify(userAddr)
      localStorage.removeItem("pickupLocation")
      var userSearch = "https://api.mapbox.com/geocoding/v5/mapbox.places/"+search+".json?access_token=pk.eyJ1IjoibWF0dGZpY2tlIiwiYSI6ImNqNnM2YmFoNzAwcTMzM214NTB1NHdwbnoifQ.Or19S7KmYPHW8YjRz82v6g&cachebuster=1548866594131&autocomplete=true"
      $.get(userSearch, function(data) {
        var userCords = data.features[0].geometry.coordinates
        var query = "https://api.mapbox.com/directions/v5/mapbox/driving/"+encodeURI(store.geometry.coordinates)+"%3B"+encodeURI(userCords)+".json?access_token=pk.eyJ1IjoiZW54byIsImEiOiJjanI5Nnc5aTUwZWo2NDlud2F6MnJwZ3A5In0.WhklmDXw40rTZ2OwDGS2LA"
        $.get(query, function(distance) {
          var miles = distance.routes[0].distance*0.000621371192
          if (miles.toFixed(0) > 5) {
            if (miles.toFixed(0) <= 10) {
              localStorage.shippingCode = '5to10miles'
              var total = $('.order-total').data('total')
              total += 5
              $('.order-total').html(total)
              $('.delivery-fee').html('5.00')
            }
            if (miles.toFixed(0) > 10) {
              var total = $('.order-total').data('total')
              total += 10
              $('.order-total').html(total)
              localStorage.shippingCode = '11to15miles'
              $('.delivery-fee').html('10.00')

            }
            
            toastr['error']('Sorry this address is outside of our delivery zone.  You are ' + miles.toFixed(0) + ' miles from our nearest store')
          } else if (miles.toFixed(0) < 5) {
            localStorage.shippingCode = 'freeshipping'
            $('.delivery-fee').html('0')
            toastr['success']('You"re all set!')
            }
          localStorage.deliveryDistance = miles.toFixed(1)
          localStorage.removeItem("myStore")
        })
      })
    })



  </script>
<script src="https://unpkg.com/feather-icons"></script>