<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Hotjar Tracking Code for vibrant-meals.nxone.co -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1251147,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/admin/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/admin/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Vibrant Meals
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="/admin/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/admin/css/paper-dashboard.user.css?v=2.0.0" rel="stylesheet" />
  <link rel="stylesheet" href="/css/toastr.min.css">
  <style>


.cart-icon {
    width:70px;
}
span.quantity {
    position: relative;
    font-weight: bold;
    padding: 5px;
    left: 25%;
}

i.nc-icon.nc-simple-add, i.nc-icon.nc-simple-remove, i.nc-icon.nc-simple-delete {
  background: #aad0ad;
    border-radius: 50%;
    color: white;
  }

h2.category-heading {
  font-size: 2em;
  color: #4e4e4e;
  font-weight: 800 !important;
}
a:hover, a:focus {
  text-decoration: none;
  color: black
}

h2.category-heading:focus, h2.category-heading:hover {
  color: black;
}

.cart-icon-label.pickup.active, .cart-icon-label.delivery.active {
  background: gainsboro;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: 900;
}
.list-item {
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 22px;
letter-spacing: 1.83333px;
text-transform: uppercase;

color: #444749;

mix-blend-mode: normal;
opacity: 0.87;
}
.list-item.active {
    background: #aad0ae;
    color: white;
}
body {
  color: #4e4e4e
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #aad0ad;
    border-color: #aad0ad;
}
li.list-group-item.d-flex.justify-content-between.align-items-center {
  border: none;
    border-bottom: 1px solid gainsboro;
}
.badge-secondary {
    color: #fff;
    background-color: #aad0ac;
}

.fulfillment-option {
  padding-right: 0!important;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.fulfillment-option.active {
  text-align: center;
    background: #f2f2f2;
    border-radius: 10px;
    color: black;
    padding: 5px;
}
.col.store-hours.is-pulled-right {
    font-size: 1.5em;
    font-weight: 600;

    display: flex;
    justify-content: flex-end;
}


.col.date-list-item {
    font-size: 1.5em;
    font-weight: 900;
}
li.list-group-item.button-group {
    text-align: center;
}

.navbar .navbar-collapse .nav-item a {
    font-size: 16px;
    font-weight: 800;
}
.card-title {
    margin-bottom: .75rem;
    font-size: 18px;
    font-weight: 800;
}

.form-control {
  font-size: 18px;
}


/* styles below this line are not critical to above the fold */
h5.heading {
    font-size: 36px;
    font-weight: 900;
    margin-top: 20PX;
    
}
a#delivery, a#pickup {
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
}

.card-stats .card-footer .stats {
    display: flex;
    color: #9A9A9A;
    align-items: center;
    justify-content: space-between;
}
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
  box-sizing: border-box;

  height: 40px;
  width: 100%;
  color: green;

  padding: 10px 12px;

  border: 1px solid #aad0ad;
  font-size:24px !important;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

label {
    font-size: 18px;
    color: black;
}

#category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    max-height: 100px;
    padding: 20px;
}


#category-container .img-container:hover > h2 {
  border-radius: 0px;
  text-decoration: underline;
}
#category-container .img-container .icon {
  position: relative;
  width: 27px;
  /* margin-top: 15%; */
}
#category-container h2 {
  font-weight: 300;
}

li {
  list-style: none;
}

.btn.btn-success {
    color: white !important;
    background: #3b8f6b;
}

@media only screen 
and (min-device-width : 400px) 
and (max-device-width: 1000px)
{

  .sidebar {
    right: -100px !important;
  }
  .nav-open .sidebar {
    -webkit-transform: translate3d(-100px, 25px, 0);
    -moz-transform: translate3d(-100px, 25px, 0);
    -o-transform: translate3d(-100px, 25px, 0);
    -ms-transform: translate3d(-100px, 25px, 0);
    transform: translate3d(-100px, 25px, 0);
}
}

@media only screen and (min-device-width: 1000px) {
  /* img.img-fluid {
    width: 450px;
    height: 300px;
  } */
  /* .card.card-user.card-product{
    width: 450px;
  } */
}

@media only screen 
and (min-device-width : 350px) 
and (max-device-width : 1024px)  {

  #category-container .img-container {
    flex: 0;
    cursor: pointer;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    height: 35px;
}
  .mobile-button-wrapper {
    /* background: #dcdcdc;
    opacity: .9; */
    background: white;
    position: fixed;
    height: 175px;
    bottom: 0px;
    width: 100%;
    left: 0px;
  }
  .checkout-button, .tooltip-wrapper {
  position: relative;
  top: 20px;
  left: 32.5%;
}
  img.delivery-icon, img.pickup-icon {
    max-width: 100px;
}
  .toast.toast-success {
    top: 10vh;
    right: 15vw;
    position: absolute;
  }
  .card-footer {
    padding: 20px !important;
  }
  h2.category-heading {
  font-size: 1.2em;
  color: #4e4e4e;
  font-weight: 800 !important;
}
h5.modal-title {
    font-size: 1.2rem !important;
  }
}

li.list-group-item.button-group {
    background: none;
    border: none;
}


.btn.btn-success-light {
  background: #aad0ae;
  color: white !important;
}

button.navbar-toggler {
    position: absolute;
    top: 25px;
    right: 75px;
}

h2.category-heading {
    min-height: 29px;
}

h2.category-heading:hover, h2.category-heading.active {
    border-bottom: 5px solid #aad0ad;
}
input.muted {
    background: #f2f2f2f2;
    border: none;
    padding: 10px;
    font-size: .75em;
    border-radius: 10em;
    width: 95%;
}
.hidden {
  display: none;
}

.col.border-none > .card.card-user {
    border: none;
}
.large-font {
    font-size: 2em;
}

.large-icon {
    width: 100%;
    height: 100%;
    color: #3b8f6b;
}
h2.hero {
    font-weight: 900;
    text-align: center;
}

/*
  Menu
*/
nav#filter-slide {
  position: fixed;
  top: 0;
  left: -100px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#filter-slide > ul {
  display: block;
  margin: 40px;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#filter-slide > ul li {
  color: #dfe5eb;
  padding: 6px 0;
  cursor: pointer;
}
nav#filter-slide > ul li:hover {
  color: #59e9df;
}
nav#filter-slide > ul li:before {
  font-family: "ico";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #59e9df;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}
nav#filter-slide > ul li.sep {
  margin-top: 7px;
  padding-top: 14px;
  border-top: 1px solid #6b7b8d;
}

body.menu-active nav#filter-slide {
  left: 0px;
}

body.menu-active nav#filter-slide ul {
  left: 0px;
  opacity: 1;
}

.menu-tab {
    /* width: 90px; */
    /* height: 70px; */
    /* position: fixed; */
    z-index: 100;
    position: relative;
    /* top: 125px; */
    left: 0px;
    cursor: pointer;
    transition: all .6s ease-in-out;
}
.menu-tab div {
  width: 33px;
  height: 4px;
  background-color: #2d2d2d;
  display: block;
  margin: 5px 28px;
  transition: all .6s ease-in-out;
}
.menu-tab div:nth-child(1) {
  margin-top: 20px;
}

/*end of menu-tab*/
.menu-tab.active {
  left: 125px;
  transition: all 600ms ease-in-out;
}


.menu-hide {
    width: 200px;
    left: -200px;
    /* height: 100vh; */
    position: fixed;
    z-index: 10;
    padding: 50px;
    top: 9vh;
    transition: all .6s ease-in-out;
}
.menu-hide nav {
  /*end of ul*/
}
.menu-hide nav ul {
  /*end of li*/
}
.menu-hide nav ul li {
  height: 70px;
  list-style-type: none;
  text-align: center;
  line-height: 70px;
  transition: all .5s ease;
}
.menu-hide nav ul li:hover {
  background-color: #e74c3c;
  transition: all .5s ease;
}
.menu-hide nav ul li a {
  padding: 30px 25px;
  text-decoration: none;
  color: #f1f1f1;
  font-weight: 800;
}

/*end of menu-hide*/
.menu-hide.show {
  left: 0px;
  background-color: #aad0ae;
  transition: all .6s ease-in-out;
}

.menu-hide.show > a > h2 {
    color: white;
}
.menu-hide.show > a > h2:hover, .menu-hide.show > a > h2:active {
    color: black;
}

.menu-hide.show > a > h2.category-heading.active {
    border-bottom: 3px solid #4e4e4e;
    width: 100px;
}
a.btn.btn-success.btn-lg.express-checkout-default {
  white-space: normal;
}



#loading {
  display: inline-block;
  width: 20px;
  height: 18px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 10em;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

button#load {
    width: 100%;
    white-space: normal;
}


.express-checkout-status {
    background: #3b8f6b;
    position: absolute;
}

.tooltip-lg {
  font-size: 20px;
}
.feather-bold {
    font-weight: 900;
    width: 50px;
    height: auto;
    color: #ff5a00;
}
h5.modal-title {
    font-weight: 800;
    font-size: 2rem;
}

.image.Low_Carb {
  border-bottom: 5px solid #fed39f;
}
.image.Everyday {
  border-bottom: 5px solid #aad0ae;
}
.image.Performance {
  border-bottom: 5px solid #d86a6a;
}
.image.Plant_Based {
  border-bottom: 5px solid #d4c3df;
}
.image.Breakfast {
  border-bottom: 5px solid #f7e393;
}
.image {
  border-bottom: 5px solid #f1f1f1;
}
</style>
</head>
@!include('Modals.auth')

@if(user)
<div class="hidden" id="user-info" data-user="{{toJSON(user)}}"></div>
@endif
<!-- Modal -->

<body class="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" lazyload />

        @!include('Modals.pickupLocations')

        <input type="hidden" id="cords" />

  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo hidden">
        <h2 class="cart-heading">
          Cart
        </h2>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav" id="cart">
            <div class="row mb-5 pl-3 order-info">
                <div class="col d-flex justify-content-start">
                    <div class="col-12 pr-0 fulfillment-option">
                        <a id="pickupRadio" data-toggle="modal" data-target="#modal-pickup">
                            <img class="cart-icon pt-2" src="/images/pickup-icon.png" />
                        </a>
                        <div class="cart-icon-label pickup"></div>

                    </div><br />
                </div>
                <div class="col d-flex justify-content-start">
                    <div class="col pr-0 fulfillment-option">
                        <a id="deliveryRadio" href="#">
                            <img class="cart-icon pt-2" src="/images/delivery-icon.png" />
                        </a>
                        <div class="cart-icon-label delivery"></div>

                    </div>
                </div>
                <section id="order-info"></section>
            </div>

            <div id="cart-rows">

              <div class="row mb-5 cart-row-master pl-3">

              </div>
              <div class="row">
                <div class="col d-flex justify-content-center">
                  <div class="tooltip-wrapper" data-html="true" data-toggle="tooltip" data-placement="auto" title="<span class='tooltip-lg'>Please add at <strong>least 5 items</strong> to cart to continue</span>">
                    <div class="mobile-button-wrapper ">
                    <a class="checkout-button btn btn-lg btn-pill btn-success" disabled><div class="checkout-button-status"></div>Next</a>
                    </div>
                  </div>
                </div>
              </div>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      @!include('layout.user.top-nav')

      <!-- <div class="panel-header panel-header-lg">
  
  <canvas id="bigDashboardChart"></canvas>
  
  
</div> -->
@!section('content')


<script src="/admin/js/core/jquery.min.js"></script>
<script src="/admin/js/core/popper.min.js"></script>
<script src="/admin/js/core/bootstrap.min.js"></script>
<script async src="/admin/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->


<script async src="/admin/js/paper-dashboard.js?v=2.0.0" type="text/javascript"></script>
<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script async src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
<script async src='https://npmcdn.com/@turf/turf@5.1.6/turf.min.js'></script>
<script src="/js/moment.min.js"></script>
<script src="https://unpkg.com/feather-icons@4.19.0/dist/feather.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
<script>
  $('#alternate-address-bill').on('click',function(){
  $('#billing-info').toggleClass('hidden')
  toggleExpressEdit()
})
$('#alternate-pickup-day').on('click', function() {
  $('#pickupDaysList').toggleClass('hidden')
  toggleExpressEdit()


})
$('.shipping-form').hide()
$('#same-address, #alternate-address-deliver').on('click', function(){
  $('.shipping-form').toggle()
  toggleExpressEdit()


})

function toggleExpressEdit(){
  var div = $('.express-checkout-edit')
  if (div.hasClass('hidden')) {
    div.removeClass('hidden').fadeIn() 
  } else {
    div.addClass('hidden').fadeOut()
  }

}



$.getScript('//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js', function(){
  toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": true,
  "positionClass": "toast-top-right",
  "preventDuplicates": true,
  "onclick": null,
  "showDuration": "5000",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "5000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
})

function getLocation() {
  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition, showError);
  } else {

  x.innerHTML = "Geolocation is not supported by this browser.";
  }
}
function showPosition(position) {
  var cord = [];
  cord.push(position.coords.longitude);
  cord.push(position.coords.latitude);
  $("#cords").val(cord);
}
function showError(error) {
  toastr['warning'](error)
  getLocationByIp()
}

  $.getScript('/js/pickup-flow.js')


</script>
<script src="/js/lodash.core.min.js"></script>

<script src="/js/update-cart.js"></script>
<script>
//Initializd our cart if one is not yet set
  if (!localStorage.cart) {
  localStorage.setItem('cart','[]')
  updateCartDiv()
  } else {
  var cart = JSON.parse(localStorage.cart)
  updateCartDiv()
  }



$('.checkout-button').on('click', function(){
  var cart = JSON.parse(localStorage.cart)
  var t = 0
  for (var i = 0; i < cart.length; i++) {
    t += cart[i].quantity
  }
  if (t < 5) {
    var d = 5 - t
    toastr["error"]("Please add at least "+d+" more items to cart!")
  } else {
    if(window.location.href.includes('checkout')) {
      $('html').removeClass('nav-open')
    } else {
      window.location.replace('/checkout')
    }
  }
})


$('.checkout-prompt-1').on('click', function(e){
  toastr["success"]("Item successfully added to cart!")
  $('.modal').modal('hide')

  e.preventDefault()
  e.stopPropagation()
  if (localStorage.getItem("custEngageCompleted") != 1) {
    $('#modal-initial-click').modal('toggle')
    
    localStorage.setItem("custEngageCompleted", 1);
    var c = JSON.parse(localStorage.cart)
    var item = $(this).data()    

    c.push(item)
    localStorage.setItem('cart', JSON.stringify(c))
    updateCartDiv()
    return false
  }

  // This bit of logic was added to allow user to switch between
  // Multiple options for a single item. 
  /*
  * I had to switch to this approach as opposed to using var item = $(this).data()
  * because that approach will always grab the original data attribute.  Instead
  * I had to switch to using the attr selector.  This code relies on the event listener
  * attached to the .price-change select box.  That code is found in update-cart.js
  * starting at line 180
  * 
  */

  var i = $(this)
  var item = {}
  item.id = i.attr('data-id')
  item.img_url = i.attr('data-img_url')
  item.sku = i.attr('data-sku')
  item.quantity = 1
  item.name = i.attr('data-name')
  item.price = parseInt(i.attr('data-price'))


  var cartItems = JSON.parse(localStorage.cart)
  cartItems.push(item)

function checkDuplicateInObject(propertyName, inputArray) {
var seenDuplicate = false,
  testObject = {};

inputArray.map(function(item) {
var itemPropertyName = item[propertyName]; 
if (itemPropertyName in testObject) {
  testObject[itemPropertyName].quantity++;
  item.duplicate = true;
  seenDuplicate = true;
}
else {
  testObject[itemPropertyName] = item;
  delete item.duplicate;
}
});

return cartItems;
}
var cart = checkDuplicateInObject('sku', cartItems)
var updatedCart = []
for (var i = 0; i < cart.length; i++) {
if (!cart[i].duplicate){
updatedCart.push(cart[i])
}

}
localStorage.setItem('cart', JSON.stringify(updatedCart))
updateCartDiv()
})


$(document).on('click', 'a#deliveryRadio', function(){
  $('#pickupRadio').closest('.fulfillment-option').removeClass('active')


    $('.cart-icon-label.pickup').html('')

    $('#deliveryRadio').closest('.fulfillment-option').addClass('active')
  $('.cart-icon-label.delivery').html('Choose address at checkout')
  $('.express-checkout-edit').show()
  $('.shipping-form').show()

  localStorage.setItem('fulfillment_method', 'delivery')

  localStorage.removeItem('pickup_location')
  localStorage.removeItem('pickupLocation')
  localStorage.removeItem('myStore')
  calcShipping()
  updateCartDiv()
})


// Bootstrap filtering logic taken from https://bootsnipp.com/snippets/r1Z7d
$(document).ready(function(){
  $.ajax({
    type: 'GET',
    url: '/api/stores/all',
    success: function(data) {
      if (data.features && data.features.length != 0) {
        $('body').append("<div id='stores' data-stores='"+JSON.stringify(data)+"'></div>")
      } else {
        toastr['warning']('Error loading store locations please refresh the page')
      }
    }
  })

  feather.replace()
  if (window.location.href.includes('checkout')) {
    $('html').addClass('nav-open')
  }

// This is filtering logic based on category name
$(".filter-button").click(function(){
    var value = $(this).attr('data-filter');
    $('h2').removeClass('active')
    $(this).find('h2').addClass('active')
    
    if(value == "all")
    {
        $('.filter').show('1000');
    }
    else
    {
        $(".filter").not('.'+value).hide('3000');
        $('.filter').filter('.'+value).show('3000'); 
    }
});







});

$('#pickup, #pickupDay').on('mouseover', function(){
  $(this).css('background-color', '#aad0ae')
  $(this).find('h5').css('color', 'white')
  $('.pickup-icon').attr('src', '/images/pickup-icon-active.png')
  $(this).find('.modal-footing').css('color', 'white')
})
$('#pickup, #pickupDay').on('mouseout', function(){
  $(this).css('background-color', 'white')
  $(this).find('h5').css('color', '#4e4e4e')
  $('.pickup-icon').attr('src', '/images/pickup-icon-inactive.png')
  $(this).find('.modal-footing').css('color', '#363636')
})

$('#delivery, #deliveryDay').on('mouseover', function(){
  $(this).css('background-color', '#aad0ae')
  $(this).find('h5').css('color', 'white')

  $('.delivery-icon').attr('src', '/images/delivery-icon-active.png')
  $(this).find('.modal-footing').css('color', 'white')
})
$('#delivery, #deliveryDay').on('mouseout', function(){
  $(this).find('h5').css('color', '#4e4e4e')

  $(this).css('background-color', 'white')
  $('.delivery-icon').attr('src', '/images/delivery-icon-inactive.png')
  $(this).find('.modal-footing').css('color', '#363636')
})
function capitalize(str){return str.slice(0,1).toUpperCase() + str.slice(1)}


var cart = JSON.parse(localStorage.cart)
var l = $('ul.list-group.mb-3')
var t = 0

for (var i = 0; i < cart.length; i++) {
    t += cart[i].quantity

  var total = cart[i].price.toFixed(1)
  total = total * cart[i].quantity
  $('.total-quantity').html(t)
  l.append('<li class="list-group-item d-flex justify-content-between lh-condensed">\
          <div>\
            <h6 class="my-0">'+cart[i].name+'</h6>\
            <small class="text-muted">Brief description</small>\
          </div>\
          <span class="text-muted">$'+total+'</span>\
        </li>')
      }
      document.addEventListener("DOMContentLoaded", function() {
  var lazyloadImages;    

  if ("IntersectionObserver" in window) {
    lazyloadImages = document.querySelectorAll(".lazy");
    var imageObserver = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          var image = entry.target;
          image.src = image.dataset.src;
          image.classList.remove("lazy");
          imageObserver.unobserve(image);
        }
      });
    });

    lazyloadImages.forEach(function(image) {
      imageObserver.observe(image);
    });
  } else {  
    var lazyloadThrottleTimeout;
    lazyloadImages = document.querySelectorAll(".lazy");
    
    function lazyload () {
      if(lazyloadThrottleTimeout) {
        clearTimeout(lazyloadThrottleTimeout);
      }    

      lazyloadThrottleTimeout = setTimeout(function() {
        var scrollTop = window.pageYOffset;
        lazyloadImages.forEach(function(img) {
            if(img.offsetTop < (window.innerHeight + scrollTop)) {
              img.src = img.dataset.src;
              img.classList.remove('lazy');
            }
        });
        if(lazyloadImages.length == 0) { 
          document.removeEventListener("scroll", lazyload);
          window.removeEventListener("resize", lazyload);
          window.removeEventListener("orientationChange", lazyload);
        }
      }, 20);
    }

    document.addEventListener("scroll", lazyload);
    window.addEventListener("resize", lazyload);
    window.addEventListener("orientationChange", lazyload);
  }
})


// Only load these scripts if we are on the checkout page.
if (window.location.href.includes('checkout')) {
  $.getScript('/js/checkout-flow.js')
  $.getScript('/js/registration-form.js')

}

    function calcShipping(){
      var store = {
        "type": "Feature",
        "properties": {},
        "geometry": {
          "type": "Point",
          "coordinates": [-85.317172,35.069111]
        }
      }
  
      
  
      if (localStorage.userAddr) {
        $('#address-input').text(localStorage.userAddr.street)
      }
  
      // If only billing zip is entered then use this for delivery fee calculation.  Else, use the shipping zip.
      var st = $('input[name="street-ship"]').val() ? $('input[name="street-ship"]').val() : $('input[name="street-bill"]').val()
      var city = $('input[name="city-ship"]').val() ? $('input[name="city-ship"]').val() : $('input[name="city-bill"]').val()
      var state = $('input[name="state-ship"]').val() ? $('input[name="state-ship"]').val() : $('input[name="state-bill"]').val()
      var post = $('input[name="zip-ship"]').val() ? $('input[name="zip-ship"]').val() : $('input[name="zip-bill"]').val()

    
      var search = encodeURI(st + ' ' + city + ' ' + state + ' ' + post)
  
      var userAddr = {
        street: st,
        city: city,
        state: state,
        zip: post
      }
      localStorage.userAddr = JSON.stringify(userAddr)
      var userSearch = "https://api.mapbox.com/geocoding/v5/mapbox.places/"+search+".json?access_token=pk.eyJ1IjoibWF0dGZpY2tlIiwiYSI6ImNqNnM2YmFoNzAwcTMzM214NTB1NHdwbnoifQ.Or19S7KmYPHW8YjRz82v6g&cachebuster=1548866594131&autocomplete=true"
      $.get(userSearch, function(data) {
        var userCords = data.features[0].geometry.coordinates
        var query = "https://api.mapbox.com/directions/v5/mapbox/driving/"+encodeURI(store.geometry.coordinates)+"%3B"+encodeURI(userCords)+".json?access_token=pk.eyJ1IjoiZW54byIsImEiOiJjanI5Nnc5aTUwZWo2NDlud2F6MnJwZ3A5In0.WhklmDXw40rTZ2OwDGS2LA"
        $.get(query, function(distance) {
          var miles = distance.routes[0].distance*0.000621371192
          var total = $('.order-total').data('total')

          if (total >= 100) {
            localStorage.shippingCode = 'freeshipping'
          } else {
            if (miles.toFixed(0) > 5 && localStorage.fulfillment_method != 'pickup') {
            if (miles.toFixed(0) <= 10) {
              localStorage.shippingCode = '5to10miles'
              total += 5
              $('.order-total').html(total)
              $('.delivery-fee').html('5.00')
            }
            if (miles.toFixed(0) > 10) {
              var total = $('.order-total').data('total')
              total += 10
              $('.order-total').html(total)
              localStorage.shippingCode = '11to15miles'
              $('.delivery-fee').html('10.00')

            }
            
            toastr['error']('Sorry this address is outside of our delivery zone.  You are ' + miles.toFixed(0) + ' miles from our nearest store.')
          } else if (miles.toFixed(0) < 5) {
            localStorage.shippingCode = 'freeshipping'
            $('.delivery-fee').html('0')
            toastr['success']('You"re all set!')
            }
          }

          localStorage.deliveryDistance = miles.toFixed(1)
        })
      })
    }

    $('input[name="zip-ship"], input[name="zip-bill"]').focusout(function(){
      calcShipping()
    })
    function hoverCart(element) {
      element.setAttribute('src', '/images/cart-icon-active.png');
    }

    function unhoverCart(element) {
      element.setAttribute('src', '/images/cart-icon.png');
    }

    $('#back-to-account').on('click', function(){
      window.location.href = '/account'
    })

$('#clearCart').on('click', function(){
  localStorage.cart = []
  updateCartDiv()
})
$('.menu-tab').on('click',function(){
    $(this).toggleClass('active')
    $('.menu-hide').toggleClass('show')
    
  })
$(document).ready(function() {


  calcShipping()
  $('.express-checkout-default').on('click', function() {
    var $this = $(this);
    var loadingText = 'Processing.. <div id="loading"></div>';
    if ($(this).html() !== loadingText) {
      $this.data('original-text', $(this).html());
      $this.html(loadingText);
    }

  });
})

document.addEventListener('click', function(event) {
  if (!event.target.matches('#password_reset_button')) return

  event.preventDefault()
  var form = document.getElementById("password-reset")
  return
  form.submit()
})

//Prevent select box from opening product card modal.
$('select').on('click', function(e){e.preventDefault();e.stopPropagation()})

// if('serviceWorker' in navigator) {
//       navigator.serviceWorker
//                .register('/sw.js')
//                .then(function() { console.log("Service Worker Registered"); });
//     }
function getLocationByIp(){
    $.ajax({
      type: 'GET',
      url: 'https://icanhazip.com',
      success: function(res) {
        $.ajax({
          type: 'GET',
          url: 'http://api.ipstack.com/'+res+'?access_key=a30e90d0c810992415e2eb14c1e5e9bb&fields=longitude,latitude,zip',
          success: function(res) {
            var test = res.longitude + ',' + res.latitude
            $('#cords').val(test)
          }
        })
      }
    })
}

getLocation()

</script>

<!-- Handle sanitation of inputs and formatting -->
<script src="/js/form-handler.js"></script>
