<div class="nutrition-label">
        <div class="nutrition-title">Nutrition Facts</div>
        <div class="nutrition-recipe">Serving Size (390g)<br />Servings per container: 1</div>
        <div class="nutrition-line nutrition-line-big"></div>
        <div class="nutrition-serving">Amount Per Serving</div>
        <div class="nutrition-item">
					<span class="nutrition-main"><strong>Calories</strong> 680</span>
					<span class="nutrition-percentage">Calories from Fat 81</span>
	</div>
        <div class="nutrition-line"></div>
        <div class="nutrition-item">
            <span class="nutrition-percentage"><strong>% Daily Value*</strong></span>
        </div>
                <div class="nutrition-item">
            <span class="nutrition-main"><strong>Total Fat</strong> 9g</span>
            <span class="nutrition-percentage"><strong>14%</strong></span>
        </div>
                        <div class="nutrition-sub-item">
                <span class="nutrition-sub">Saturated Fat 6g</span>
                <span class="nutrition-percentage"><strong>30%</strong></span>
            </div>
                                                <div class="nutrition-sub-item">
                <span class="nutrition-sub">Polyunsaturated Fat 0.2g</span>
            </div>
                                    <div class="nutrition-sub-item">
                <span class="nutrition-sub">Monounsaturated Fat 1g</span>
            </div>
                                    <div class="nutrition-item">
            <span class="nutrition-main"><strong>Cholesterol</strong> 21mg</span>
            <span class="nutrition-percentage"><strong>7%</strong></span>
        </div>
                        <div class="nutrition-item">
            <span class="nutrition-main"><strong>Sodium</strong> 56mg</span>
            <span class="nutrition-percentage"><strong>2%</strong></span>
        </div>
                        <div class="nutrition-item">
            <span class="nutrition-main"><strong>Potassium</strong> 8mg</span>
            <span class="nutrition-percentage"><strong>0%</strong></span>
        </div>
                            <div class="nutrition-item">
                <span class="nutrition-main"><strong>Total Carbohydrates</strong> 1g</span>
                <span class="nutrition-percentage"><strong>0%</strong></span>
            </div>
                                    <div class="nutrition-sub-item">
                <span class="nutrition-sub">Sugars 1g</span>
            </div>
                                    <div class="nutrition-item">
            <span class="nutrition-main"><strong>Protein</strong> 1g</span>
            <span class="nutrition-percentage"><strong>2%</strong></span>
        </div>
                <div class="nutrition-line nutrition-line-big"></div>
                <div class="nutrition-item">
            <span class="nutrition-main">Vitamin A</span>
            <span class="nutrition-percentage">6%</span>
        </div>
                        <div class="nutrition-item">
            <span class="nutrition-main">Vitamin C</span>
            <span class="nutrition-percentage">0.1%</span>
        </div>
                        <div class="nutrition-item">
            <span class="nutrition-main">Calcium</span>
            <span class="nutrition-percentage">2%</span>
        </div>
                        <div class="nutrition-warning">
            * Percent Daily Values are based on a 2000 calorie diet.         </div>
    </div>